.spacerS {
  width: 10px;
}
.boutonS {
  background-repeat: no-repeat;
  border: 1px solid black;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.boutonAddS {
  @extend .boutonS;
  background-image:url(../../../../outils/zoneStyleMathquill/images/plus.png);
}
.boutonMoinsS {
  @extend .boutonS;
  background-image:url(../../../../outils/zoneStyleMathquill/images/moins.png);
}
