
.zsmMq {
  cursor: text;
  border: 1px solid grey;
  background: rgb(255, 255, 255)
}

.zsmMq:hover {
  cursor: text;
  border: 1px solid black;
}

.zsmMqFocused {
  cursor: text;
  border: 1px solid grey;
  box-shadow: #68b4df 0 0 3px 2px;
  background: rgb(255, 255, 255)
}

.zsmMqFocusedCursor {
  animation-duration: 1s;
  animation-name: animZsmMqFocusedCursor;
  animation-iteration-count: infinite;
  border-right: 0 solid black;
  border-top: 0 solid black;
  border-bottom: 0 solid black;
  outline : 0 solid black
}

@keyframes animZsmMqFocusedCursor {
  0% {
    border-left: 1px solid black;
  }
  50% {
    border-left: 1px solid black;
  }
  51% {
    border-left: 1px solid white;
  }
  100% {
    border-left: 1px solid white;
  }
}

.zsmBtn {
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 3px;
  background: rgba(202, 200, 196, 0.966);
  text-align: center;
}

.zsmBtn:hover {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 3px;
  background: rgb(226, 157, 240);
  text-align: center;
}

.zsmClavier {
  display: inline;
  font-size: 100%;
  border: 3px solid grey;
  position: absolute;
  border-radius: 10px;
  background: rgba(127, 201, 234, 0.73)
}

// les picto clavier
.zsmPictoClavier {
  background: #ffffff url(images/clavier.png) no-repeat;
  background-size: 100% auto;
}
.zsmPictoClavierBarre {
  background: #ffffff url(images/clavierBarre.png) no-repeat;
  background-size: 100% auto;
}
// les boutons
.zsmChapeau {
  background: transparent none no-repeat;
  background-size: 100% 30%;
}
.zsmAngle {
  @extend .zsmChapeau;
  background-image: url(images/angle.png);
}
.zsmAngleFondGris {
  @extend .zsmAngle;
  // on ajoute un fond gris
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 3px;
  background-color: rgba(202, 200, 196, 0.966);
}
.zsmAngleFondGris:hover {
  // fond rose
  @extend .zsmAngle;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(226, 157, 240);
}

.zsmAngleVert {
  @extend .zsmChapeau;
  background-image: url(images/angleVert.png);
}
.zsmAngleOrange {
  @extend .zsmChapeau;
  background-image: url(images/angleOrange.png);
}
.zsmAngleBleu {
  @extend .zsmChapeau;
  background-image: url(images/angleBleu.png);
}

.zsmArc {
  @extend .zsmChapeau;
  background-image: url(images/arc.png);
}
.zsmArcFondGris {
  @extend .zsmArc;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 3px;
  background-color: rgba(202, 200, 196, 0.966);
}
.zsmArcFondGris:hover {
  @extend .zsmArc;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(226, 157, 240);
}

.zsmArcVert {
  @extend .zsmChapeau;
  background-image: url(images/arcVert.png);
}
.zsmArcOrange {
  @extend .zsmChapeau;
  background-image: url(images/arcOrange.png);
}

.zsmSansFond {
  background: none;
}

/* Le table du clavier spécial */
table.zsmClavSpe {
  margin: 0;
  & > tr > td  {
    text-align: center;
    margin-right: 5px;
  }
}

table.zoneS3 {
  height: auto;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
  border-collapse: collapse;
  mso-cellspacing: 0;
  text-align: center;
  display: inline-table;
}
table.zoneS3BAse {
  height: auto;
  vertical-align: middle;
  background: #fff;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  border-collapse: collapse;
  mso-cellspacing: 0;
  text-align: center;
  // cf https://drafts.csswg.org/css-display/#valdef-display-contents
  // idem none pour l’élément concerné, mais pas ses enfants (comme si l’élément avait été remplacé par ses enfants)
  // Attention, ça ne fonctionne que sur les navigateurs récents (sept 2018 pour firefox et mars 2021 pour edge, ne fonctionne toujours pas sur safari fin 2021, ni sur pas mal de navigateurs de tablettes / téléphone)
  // cf https://caniuse.com/css-display-contents

  //celui là a l’air mieux ?
  display: inline-table;
}

td.zsmRacine {
  background-image:url(images/racine.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-collapse: collapse;
}
td.borderTop1 {
  border-top: 1px solid black;
}
// utiliser pour simuler une fraction
td.height1Black {
  height: 1px;
  background: #000000;
}
