// pour utiliser https://sass-lang.com/documentation/modules/color/#adjust
// (fonctionne en relatif, alors que darken et lighten sont en absolu)
@use 'sass:color';

@use 'src/lib/core/css/base.scss';

/*
Pour les z-index on a en général
150 : .modalContainer, ça affiche potentiellement des erreurs et doit être au dessus de tout
101 : mlVirtualKeyboard
 60 : ListeDeroulante

et dans notre éditeur

 95 : tooltip
 90 : menus contextuels
 85 : menuMask des menus contextuels
 80 : modales d’édition (de l’éditeur de graphes)
50~60 jsPlumb
*/

body {
  // il faut un `import 'roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss'` dans le js qui nous charge
  // (pénible de l’importer en scss avec vite)
  font-family: Roboto, "Noto Emoji", sans-serif;
}

.spEditor {
  display: flex;
  flex-direction: column;
  color: base.$darkColor1;
  /* on précise ça pour spStart qui peut cumuler dans l’iframe plusieurs css editor/player v1|v2 */
  background-color: white;
  background-image: none;

  .graphEditor {
    flex-grow: 2;
  }

  .editorFooter {
    flex-grow: 0;
    flex-shrink: 1;
  }
}

// contient menu + scene
.graphEditor {
  display: flex;

  .editorMenu {
    flex: 0 1 auto; /* il se tasse autant que possible */
    max-height: 1000px; /* faut pas pousser… */
    overflow: auto;
  }

  li.menu-item {
    // pour tester ça ajouter un `return` au debut de ContextMenu.close()
    // histoire de laisser le menu ouvert et régler les css
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
      margin-bottom: 2px; // parce que le centre du texte est pas exactement celui de l’image
      margin-right: 0.5rem;
      // préciser une color sert à rien sur du svg, mais on peut utiliser filter
      // cf https://isotropic.co/tool/hex-color-to-css-filter/
      // avec la couleur $darkColor1 hsl(22 100% 15%) => #4D1C00
      filter: invert(12%) sepia(17%) saturate(7267%) hue-rotate(10deg) brightness(99%) contrast(102%);
    }
  }

  .editorScene {
    position: relative; /* indispensable pour jsPlumb */
    resize: both;
    flex: 3 1 auto;
    padding: 1rem;
    min-width: 500px;
    min-height: 400px;
    border-left: solid 1px base.$darkColor1;

    /** Les boutons en haut à droite */
    .picto {
      position: fixed;
      cursor: pointer;
      background-color: white;
      border: 1px solid base.$darkColor1;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      text-align: center;
      padding-top: 4px;
    }

    .picto:hover {
      border-color: base.$color1;
      background-color: base.$lightColor1;
    }

    .pictoNodeMenu, .more-vertical {
      top: 3px;
      right: 3px;
    }

    .undo {
      padding-top: 3px;
      top: 3px;
      right: 6.8em;
    }

    .redo {
      padding-top: 3px;
      top: 3px;
      right: 4.6em;
    }

    .fullscreen {
      padding-top: 2px;
      top: 3px;
      right: 2.4em;
    }

    /** boutons de resize en bas à droite */
    .upSize {
      position: absolute;
      bottom: -1em;
      right: 3px;
    }

    .downSize {
      position: absolute;
      bottom: -1em;
      right: 2.5em;
    }

    .nodeContextMenu {
      position: absolute;
      top: 0;
      right: 0;
      // faut lui donner un peu de place pour cliquer
      width: 1.6em;
      height: 1.5em;
      text-align: center;
      cursor: pointer;
      //border: $darkColor3 1px solid;
      border-radius: 4px;
      background-color: base.$lightColor3;
    }

    /* les nœuds */
    .graphNode, .graphNodeEnd {
      position: absolute;
      left: 0;
      top: 0;
      padding: 12px; // la zone de drag pour les connecteurs
      border: solid 1px base.$darkColor2;
      border-radius: 4px;
      z-index: 57;
      color: base.$darkColor2;
      background-color: base.$lightColor3b;
    }

    .graphNode {
      box-shadow: base.$boxShadow3;
      cursor: pointer;
    }

    .graphNode.startingNode {
      border-width: 6px;
    }

    .graphNodeEnd {
      border-style: dotted;
      border-width: 6px;
      color: base.$darkColor1;
      padding: 8px 8px 3px 3px;
      // idem .nodeContent car on a pas de connecteurs qui partent d'un nœud fin
      background-color: base.$lightColor3c;

      .nodeContextMenu {
        top: -4px;
        right: -4px;
      }
    }

    .nodeContent {
      border-radius: 5px;
      background-color: base.$lightColor3c;
      padding: 0.2em 0.4em;
      cursor: move;
      max-width: 12em;
      min-width: 4em;
      /* la croix pour déplacer le node */
      .movingTool {
        position: relative;
        display: inline-block;
        margin-right: 4px;
        z-index: 57;
        width: 16px;
        height: 16px;
        // il y a du currentColor dans le svg mais ça fonctionne pas s'il est en src d'un tag img
        filter: invert(12%) sepia(17%) saturate(7267%) hue-rotate(225deg) brightness(80%) contrast(70%);
        vertical-align: middle;
      }

      .spanId {
        font-size: 0.8em;
      }
    }

    /* début d'une connexion */
    .jtk-endpoint circle {
      fill: base.$darkColor1;
      opacity: 0.8
    }

    .jtk-source-hover rect {
      fill: base.$darkColor1High;
    }

    /* flèche de fin de la connexion */
    path.jtk-overlay {
      stroke: base.$darkColor1;
      //stroke: currentColor; // marche aussi
    }

    .jtk-hover path { // courbe + flèche
      stroke: base.$darkColor1High;
    }

    .jtk-hover path.jtk-overlay { // flèche seule
      fill: base.$darkColor1High;
    }

    /* les labels des branchements (rang x) */
    .connectorLabelDefault, .connectorLabelHover {
      font-size: 0.9em;
    }

    .jtk-overlay.jtk-default-label {
      border: solid 1px base.$darkColor1;
      box-shadow: base.$boxShadow1Thin;
      border-radius: 5px;
      padding: 0.1rem 0.4rem;
      background-color: base.$lightColor1;
      color: base.$darkColor1;
      z-index: 55; /* faut passer au dessus de .jtk-connector, valeur mise au pif */
      .connectorLabelHover {
        display: none;
      }
    }

    /* les conditions des branchements */
    .jtk-overlay.jtk-default-label:hover {
      border: solid 1px base.$darkColor1High;
      z-index: 60; /* On met en évidence celui qu'on survole et il passe devant les autres */
      .connectorLabelHover {
        display: block;
      }

      .connectorLabelDefault {
        display: none;
      }

      .connectorEnpoint rect {
        fill: base.$darkColor1High;
      }
    }

    //border plus gras pour les sans condition
    .jtk-overlay.jtk-default-label.noCondition, .jtk-overlay.jtk-default-label.noCondition:hover {
      border-width: 2px;
    }

    /* La modale qui contient les formulaires d’édition (nodes & branchements) */
    .modale {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 15px;
      border: solid 1px base.$darkColor2;
      background-color: base.$lightColor2;
      z-index: 80;
      --connector-hover-color: $color2;

      .contenuModale {
        position: absolute;
        margin: auto;
        padding: 15px;
        background-color: color.adjust(base.$lightColor2, $lightness: -5%);

        .saisieIndex { /* l’input pour le rang */
          position: relative;
          left: 60px;
          width: 30px;
        }

        .condition {
          position: relative;
          margin-left: 10px;
          left: 0;
        }

        .comparatorSelect { /* pour le choix du scoreComparator */
          position: relative;
          width: 50px;
          height: 30px;
        }

        .saisieScore { /* l’input du score */
          position: relative;
          width: 50px;
          height: 30px;
        }

        button {
          position: relative;
          padding: 2px;
          margin: 10px;
        }

        .peItem {
        }

        .checkbox {
          margin-right: 15px;
          margin-left: 5px;
        }
      }

      .boutonValider {
        position: relative;
        left: 10px;
        width: 80px;
      }

      .boutonSupprimer {
        position: relative;
        left: 200px;
        width: 180px;
      }
    }

    .modale.connectorEditor {
      border: solid 1px base.$darkColor1;
      background-color: base.$lightColor1;

      .contenuModale {
        background-color: color.adjust(base.$lightColor3, $lightness: -5%);
      }
    }

    /* div masquant le graphe pour éviter les clics intempestifs lors de l’ouverture du menu contextuel */
    .menuMask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 85;
      /* div contenant le ul du menu contextuel */
      div.context-menu {
        position: relative;
        max-width: 20rem;
        border: 1px;
        border-radius: 3px;
        background-color: base.$lightColor3b;
        z-index: 90;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 20px; // Peut-être augmenter pour éviter de refermer le menu quand on est entrain de renommer le noeud et que la souris sort un peu
      }

      li {
        padding: 0 10px;
      }

      li:hover {
        background-color: color.adjust(base.$lightColor3, $lightness: -10%);
      }
    }
  }
}

/* lui est un div qui suit .graphEditor */
.editorFooter {
  display: flex;
  padding: 1rem;
  border-top: solid 1px base.$darkColor1;

  button {
    border-color: base.$darkColor2;
    border-radius: 5px;
    box-shadow: base.$boxShadow2;
    background-color: base.$lightColor2;
    color: base.$darkColor2;
    padding: 0.4rem 1rem;
  }
}

form.modale > label {
  display: block;

  .error {
    border: base.$errorColor solid 1px;
    padding: 0.3rem;
  }
}

div.modaleEditor {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: #f9f2f4;
}

.nodeEditor {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  label.param {
    // si ça reste à block les infos de grid de ses enfants sont ignorées
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 3;

    & > span, .label {
      text-align: right;
      grid-column: 1 / 2;
    }

    & > input, .value {
      grid-column: 2 / 3;
      justify-self: left;
      width: min-content;
    }

    select {
      width: min-content;
    }
  }
  label.param.error {
    border: base.$errorColor solid 1px;
    padding: 10px;
    p.error {
      grid-column: 1 / 3;
      text-align: center;
    }
  }

  button {
    width: min-content;
    padding: 0.2rem 1rem;
    justify-self: center;
  }
}

.error {
  color: base.$errorColor;
}

/* les connexions jsplumb, cf https://docs.jsplumbtoolkit.com/community/lib/styling-via-css */
.jtk-hover {
  z-index: 10;
}
