// pas exactement le même que celui de modal.scss mais ça ressemble
.closeButton {
  display: block;
  top: 1em;
  right: 1em;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;

  &:hover {
    background-color: darkgray;
  }
}
