.bastonConsole {
    background-color: #eee;
    background-image: url(assets/basthon.svg);
    background-position: right 20px bottom 5px;
    background-size: 15%;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    margin: 1rem;
    padding: 1rem;
    overflow: auto;

    textarea:focus {
        outline: none !important;
    }

    .wrapperEditor {
        width: 48%;
        margin: auto;
        float: left;
    }

    .wrapperShell {
        width: 48%;
        margin: auto;
        float: right;
        font-size: 0;
    }

    .wrapperButtons {
        clear: both;
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;

        button {
            display: inline-block;
            margin: 0 5px;
        }
    }

    /* default mode is dark */
    .darklighted {
        --background: #272822;
        background-color: #272822;
        --color: #fff;
        color: #fff;
    }

    .light {
        --background: #fff;
        background-color: #fff;
        --color: #272822;
        color: #272822;
    }

    .editor {
        float: none;
        width: 100%;
        height: 70vh;
        border-radius: 0.6vw;
        margin: 0px;
        padding-top: 0px;
    }

    .shell {
        width: 100%;
        height: 70vh;
        float: none;
        resize: none;
        font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
        font-size: 12pt;
        margin: 0px;
        border-radius: 0.6vw;
        border-width: 0px;
    }
    .graphics {
        width: 100%;
        height: 70vh;
        float: none;
        flex: initial;
        background-color: #eee;
        resize: none;
        box-sizing: border-box;
        margin-bottom: 0px;
        padding: 0px;
        border-style: dotted;
        border-color: #272822;
        border-radius: 0.6vw;
        border-width: 0.25vw;
        font-size: 12pt;
        display: none;
    }

    .terminal {
        --size: 1.333;
    }

    /* clickable script content */
    .terminal-output > :not(.raw) div.exec-script-header:hover {
        background-color: #aaa;
        border-radius: 0.3vw;
        cursor: pointer;
    }

    /* to force x-scroll */
    .terminal-output div[style*="100%;"] {
        overflow: unset;
    }

    .graphics {
        width: 100%;
        height: 60vh;
        float: none;
        flex: initial;
        background-color: #eee;
        resize: none;
        box-sizing: border-box;
        margin-bottom: 0px;
        padding: 0px;
        border-style: dotted;
        border-color: #272822;
        border-radius: 0.6vw;
        border-width: 0.25vw;
        font-size: 12pt;
    }

    .graphics > .animation > .anim-controls > .anim-buttons > button {
        padding: 0;
        width: unset;
    }

    @keyframes btn-eye-catcher-animation {
        50% {
            box-shadow: 0px 0px 0.5vw 1vw #ffc938, 0 0.6vw #999;
        }
    }

    .btn-eye-catcher {
        animation: btn-eye-catcher-animation 0.5s ease infinite;
    }

    .btn-logo {
        font-size: 1.5vw;
    }

    .btn-titled {
        padding-right: 0.7vw;
    }

    .btn {
        background-color: #366f9e;
        border: none;
        border-radius: 0.6vw;
        color: white;
        padding: 1.1vw 1.8vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2vw;
        box-shadow: 0 0.6vw #999;
        margin-right: 1vw;
    }

    .btn:hover {
        background-color: #ffc938;
        cursor: pointer;
    }

    .btn:enabled:active {
        box-shadow: 0 0.2vw #666;
        transform: translateY(0.3vw);
    }

    a {
        color: #888;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }
}

/* Fontawesome fix for version 5 */
.fa-arrows:before {
    content: "\f0b2";
}

.notie-container {
    font-size: 1.1rem;
}

.notie-background-success {
    background-color: #ffc938;
}

.notie-background-warning {
    background-color: #366f9e;
}

.notie-background-error {
    background-color: #366f9e;
}

.notie-background-info {
    background-color: #aaaaaa;
}
