.slider_cursor_horizontal{

	/*Le curseur du slider horizontale*/

	height:22px;
	background-image:url(images/cursor_horizontal.png);
	background-repeat:no-repeat;
	position:absolute;

}

.slider_cursor_vertical{

	/*Le curseur du slider verticale*/

	width:22px;
	background-image:url(images/cursor_vertical.png);
	background-repeat:no-repeat;
	position:absolute;

}

.slider_cursor_hover_horizontal{

	/*Le curseur du slider horizontale quand la souris passe au dessus*/

	height:22px;
	background-image:url(images/cursor_horizontal_hover.png);
	background-repeat:no-repeat;
	position:absolute;
	cursor: pointer;

}

.slider_cursor_hover_vertical{

	/*Le curseur du slider vertical quand la souris passe au dessus*/

	width:22px;
	background-image:url(images/cursor_vertical_hover.png);
	background-repeat:no-repeat;
	position:absolute;

}

.bg_slider_horizontal{

	/*Le conteneur du slider horizontale*/

	height:18px;
	background-image: url(images/bg_slider_horizontal.png), linear-gradient(to left, rgba(200, 200, 200 ,1) 30%,rgba(200, 200, 200 ,1));

}

.bg_slider_vertical{

	/*Le conteneur du slider vertical*/

	width:18px;
	background-image:url(images/bg_slider_vertical.png);

}
