.menuContextuel {
  cursor: pointer;
  border: grey solid 1px;
  background: #fff;
  z-index: 120;
}

.menuContextuel div {
  margin: 0.2em;
  padding: 0.2em 0.5em;
  z-index: 125;
}
.menuContextuel div:hover {
  background: #ddf /* en cas de modif le répercuter dans le js (méthode show) */
}
