
span.zoneClikTexte {

}

.zoneClikBase  {
    padding: 8px;
    background: #aaaaaa;
    border-radius: 10px;
    border: solid 3px #2E2E2E;
    vertical-align: middle;
}

.zoneClikActive {
    cursor: pointer;
}

.zoneClikActive:hover {
    background: #ffaaaa;
}

.zoneClikSelect  {
    background: #A9E2F3;
}

.nopointer {
    cursor: none;
}

.zoneClikBien  {
    background: #00aa00;
}

.zoneClikCo  {
    background: #5555ff;
}

.zoneClikFaux  {
    background: #f38f0c;
}

.cards {
    display: inline;
}
.cards2 {
    display: inline;
    padding: 10px
}

.tabZOneClic {
    display: inline;
    padding: 10px
}

.forcewrap {
    white-space: normal;
}









