@use '../core/css/base';

.playground {
  // il faut un `import 'roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss'` dans le js qui nous charge
  // (pénible de l’importer en scss avec vite)
  font-family: Roboto, "Noto Emoji", sans-serif;

  /* height: 100%; */
  background-color: white;
  background-image: url(../../legacy/css/j3pcss/fonds/fond-j3p.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: base.$darkColor1;

  // HEADER
  .header {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
  }

  .zoneTitle {
    min-width: 60vw;
    flex-grow: 1;

    // on veut image + gradient => faut une position en coin sinon la couleur
    // ne s'étend pas partout => on décale le logo dans son png

    // fallback pour les navigateurs ne gérant pas le cumul
    background-color: base.$lightColor1;
    background-image: url(images/logo_sesamath_decale.png);
    // et pour ceux qui peuvent cumuler
    background-image: url(images/logo_sesamath_decale.png), linear-gradient(to right, hsl(base.$hue1 100% 55%) 20%, hsla(base.$hue1 80% 80% / 0.8) 100%);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    //background: linear-gradient(to right, hsl($hue1 100% 55%) 20%, hsla($hue1 80% 80% / 0.8) 100%);
    border-radius: 7px;
    box-shadow: base.$boxShadow1;
    margin: 3px 5px 5px 3px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
      // 160px à droite pour ne pas chevaucher le logo
      margin: 0.5rem 160px 0.5rem 1rem;
      padding: 0.2rem 0.5rem;
      background-color: hsla(0 0% 100% / 0.2); // pour augmenter le contraste
      border-radius: 7px;
      color: base.$darkColor1;
      font-size: 1.5rem;
    }
  }

  .zoneStatus {
    background: linear-gradient(to right, hsl(base.$hue1 100% 70%) 0%, hsla(base.$hue1 80% 90% / 0.8) 100%);
    border-radius: 7px;
    box-shadow: base.$boxShadow1;
    margin: 3px 5px 5px 3px;
    padding: 0.5rem 1rem;
  }

  // MAIN CONTENT

  .mainContent {
    flex-grow: 1;
    background: linear-gradient(to right, hsl(base.$hue3 80% 90%) 0%, hsla(base.$hue3 80% 95% / 0.9) 100%);
    border-radius: 7px;
    box-shadow: base.$boxShadow3;
    margin: 3px 5px 5px 3px;
  }

  .zoneWork {
    /* si la section crée des trucs en absolute ce sera dans ce référentiel */
    position: relative;
    margin: 1rem;

    .ML__virtual-keyboard-toggle {
      border: none;
    }
  }

  .zoneSolution {
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: base.$darkColor2;
    border: solid 1px base.$darkColor2;
    border-radius: 4px;
    background-color: base.$lightColor2;
  }

  .feedback {
  }

  // pour les bilans affichés
  .nodeInAssessment {
    color: #c9302c;
  }

  .horizontalRadios {
    input {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  // conteneur de zoneFeedback et zoneActions
  .actionFeedback {
    float: right;
    position: sticky;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: flex-end;
  }

  .zoneFeedback {
    min-width: 200px;
    min-height: calc(2rem + 1.5em);
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    // contenu centré
    display: flex;
    align-items: center;
    justify-content: center;
    // couleurs
    color: base.$darkColor1;
    background-color: hsla(base.$hue1 100% 90% / 0.9);;
    border: 1px solid base.$darkColor1;
    border-radius: 7px;
  }

  .zoneActions {
    //margin: 0.5rem;
    padding: 0.7rem;
    // on centre le bouton
    display: flex;
    align-items: center;
    justify-content: center;

    // la boite
    background-color: base.$color3;
    border-top: base.$darkColor3 solid 1px;
    border-left: base.$darkColor3 solid 1px;
    border-radius: 7px 0 7px 0;
    //box-shadow: $boxShadow1;

    button {
      color: white;
      font-weight: bold;
      border: solid 1px white;
      border-radius: 7px;
      min-height: 40px;
      background-color: base.$colorBtn;
      background-repeat: no-repeat;
    }

    button:hover {
      background-color: base.$colorBtnHov;
    }

    // bouton ok
    button.validation {
      padding-left: 38px;
      background-image: url(images/cocheOk.png);
      background-position: 5px center;
    }

    // bouton suite
    button.nextQuestion {
      padding-right: 38px;
      background-image: url(images/nextQuestion.png);
      background-position: right center;
    }

    button.nextSection {
      padding-right: 42px;
      background-image: url(images/nextSection.png);
      background-position: right 6px center;
    }
  }

  .zoneWaiting {
    background-image: url(images/spinner.gif);
    background-repeat: no-repeat;
    background-position: top 1.5rem left 1rem;
    padding: 1rem 1rem 1rem calc(1rem + 24px);
  }

  .masked {
    display: none;
  }

  .ok, .ko {
    padding: 5px;
    margin: auto;
  }

  .ok {
    color: base.$colorOk;
    background-color: base.$lightColorOk;
  }

  .ko {
    color: base.$colorKo;
    background-color: base.$lightColorKo;
  }

  label {
    margin: 0.2rem 0.5rem;

    input {
      margin: 0.2rem;
      vertical-align: middle;
    }
  }

  math-field {
    min-width: 28px;
  }

  @media not (pointer: coarse) {
    math-field::part(virtual-keyboard-toggle) {
      display: none;
    }
  }
  // checkboxes
}
