.pourFitContent {
    width: fit-content;
}

.boiteEtik {
    border: 1px solid black;
    border-radius: 5px;
    background: #2fc9c0
}

.cacheTruc {
    visibility: hidden;
    height: 0px;
    padding: 0 5px 0 5px;
}

.montreTruc {
    visibility: visible;
    height: fit-content;
    padding: 0 5px 0 5px;
}

.pourSpaces {
    white-space: break-spaces;
}
