body {
background:white;
padding: 0;
}

h2, h3 {
  color:maroon;
}

a {
 text-decoration:none;
 cursor:pointer;
 color:navy;
}

a:hover {
 text-decoration:underline;
}

ul.espace li {
  margin-bottom:1em;
}

#ALenHaut {
  position:fixed;
  bottom:10px;
  right:10px;
  width:60px;
  padding:5px 0 0 0;
  border:0;
  text-align:center;
  font-size:40px;
  font-weight:bold;
  opacity:0.7;
  background:black;
  color:white;
  border-radius: 10px;
  cursor:pointer;
}

#ALenHaut:hover {
  opacity:0.5;
}

span, b {
 margin:0;
 padding:0;
}

