@use "sass:color";
// fourni par le package roboto-fontface
//import 'roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss'

$bgVirtualKeyboard: hsla(210, 70%, 80%, 0.8);
$bgButton: rgba(246, 246, 246, 1);

/* on réplique le code du .mq-focused de mathquill, pour faire croire au focus (avoir toujours le bord bleu avec le curseur qui clignote) */
.fakeMqFocus {
  box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  border-color: #709AC0;
  border-radius: 1px;
}

/* le conteneur de inputMq / triggerButton / virtualKeyboard */
.kbdContainer {
  position: relative;
  display: inline-flex;
}
/* le bouton pour afficher / masquer le clavier */
.triggerButton {
  vertical-align: top;
  min-height: 28px;
  min-width: 12px;
  padding: 2px;
}
/* le conteneur du clavier virtuel */
.virtualKeyboard {
  position: absolute;
  top: 35px;
  left: -5px;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: $bgVirtualKeyboard;
  // on est obligé d’ajouter des !important sinon le .mq-math-mode prend le dessus
  border: color.adjust($bgVirtualKeyboard, $lightness: -40%) 2px solid !important;
  border-radius: 8px;
  border-top-width: 10px !important;
  z-index: 101; /* Pour ne pas être clippé par exemple par un SVG de figure MathGraph32 en-dessous */
  cursor: grab;
  // comme on est dans .kbdContainer qui est petit, on est à priori de sa largeur, faut forcer à déborder en imposant une largeur
  width: 280px;
  /* les 2 morceaux du clavier à l’intérieur de ce .virtualKeyboard englobant */
  &>div {
    display: inline-block; // sans lui le 2e bloc (commandes) se retrouve sous le 1er
    vertical-align: middle;
    padding: 3px;
    margin: auto;
    white-space: normal;
    //border: darken($bgVirtualKeyboard, 20%) 1px solid; // pour debug
  }
  // surcharge pour le 1er
  &>div:first-child {
    width: 190px;
    font-size: 1.2rem;
  }
  // et le 2e
  &>div:last-child {
    width: 80px;
    font-size: 1.6rem;
    div {
      padding: 4px 0;
      width: 74px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
  div.mqCommandes {
    padding-top: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  /* les boutons dans ce clavier virtuel */
  button {
    cursor: pointer;
    padding: 3px;
    margin: 3px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    font-family: Roboto;
    text-align: center;
    // sur ipad les boutons sont transparents, on essaie de rectifier ici…
    background-color: $bgButton;
  }
  // sans ça le bouton cliqué reste rose après le clic sur iPad
  button:hover, button:active {
    background-color: $bgButton;
  }
  // à ne pas confondre avec le mqBtn utilisé par la palette mathquill, qui sera mis sur un span interne à .mqButton
  .mqButton {
    // faut un peu d’override de la css par défaut pour ces images, sinon trop décalées en bas à droite
    padding-top: 1px;
    padding-left: 1px;
    width: 36px;
    height: 36px;
    span {
      // les images sont toutes en 32×32 (depuis le 23/09/2021)
      //transform: scale(0.7);
      height: 32px;
      width: 32px;
      background-color: rgba(255,255,255,0); // on veut pas du blanc imposé par mqBtn => blanc transparent
      border: none;
    }
  }
  .mqFunction {
    padding-top: 7px;
  }
}
