span.zonelistetexte {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
div.etiquette {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px
}
.etiquette2 {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: solid 1px;
  background: #C0C0C0;
  border-radius: 10px;
  padding: 0 5px 0 5px;
}
.etiquette0 {
  cursor: default;
}
.etiquetteCache {
  visibility: hidden;
  height: 0px;
  padding: 0 5px 0 5px;
}
.etiquette3 {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: solid 1px;
  background: #C0C0C0;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  padding: 0 5px 0 5px;
}
.emplcement1 {
  display: inline-block;
  background: #C0C0C0;
  border-radius: 10px;
  border: solid 1px #000000;
  text-align: center;
  padding: 0 5px 0 5px;
}
.Pointer {
  cursor: pointer;
}
