  .fbouton {
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .fboutonMoins {
    @extend .fbouton;
    background-image:url(../../../../outils/zoneStyleMathquill/images/moins.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .fboutonPlus {
    @extend .fbouton;
    background-image:url(../../../../outils/zoneStyleMathquill/images/plus.png);
  }

