table.compact {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
table.fractions {
  @extend .compact
}

td.centre {
  vertical-align: middle;
  text-align: center;
}

.barreOblique {
  background: 100% 100% url(barreOblique.png) no-repeat;
}

.fracdiv {
  cursor: pointer;
  background-color: #000000;
}

.fracdiv:hover {
  background-color: red;
  height: 5px
}

.fracdivco {
  background-color: #3366FF;
  height: 5px
}

.fracdivfo {
  background-color: #D64700;
  height: 5px
}

.fracdivvrai {
  background-color: #008A73;
  height: 5px
}

.parentheseOuvrante {
  background: url(parentheseOuvrante.svg) no-repeat;
  background-size: 100% 100%;
  min-width: 1ch; /* largueur d’un 0 dans la police courante */
}
/* un essai avec du ::before pour ajouter la parenthèse en texte, mais pas réussi à imposer en css line-height ou font-size en proportion de la hauteur du parent
.parentheseOuvrante::before {
  content: '(';
  padding: 0;
  margin: 0 0.2ch;
}
*/
.parentheseFermante {
  background: url(parentheseFermante.svg) no-repeat;
  background-size: 100% 100%;
  min-width: 1ch; /* largueur d’un 0 dans la police courante */
}
