/* cf https://www.alsacreations.com/article/lire/1717-les-preprocesseurs-css-c-est-sensass.html pour un résumé de l’apport de scss */
.bgCenter {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.bgTop {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 12px 20px;
}

.opautre {
  cursor: pointer;
}

.opautre:hover {
  @extend .bgCenter;
  border-radius: 10px;
  background-color: rgb(253, 4, 4);
  position: relative;
  opacity: 1;
}

.opautrepuis {
  @extend .opautre;
}

.opautrepuis:hover {
  @extend .bgTop;
  border-radius: 10px;
  background-color: rgb(253, 4, 4);
  position: relative;
  opacity: 1;
}

.opautreselect {
  @extend .bgCenter;
  border-radius: 10px;
  background-color: rgb(253, 4, 4);
  position: relative;
  opacity: 1;
}

.opautreselect:hover {
  border-radius: 10px;
  background-color: rgb(218, 79, 79);
  position: relative;
  opacity: 1;
}

.opautreselectpuis {
  @extend .bgTop;
  border-radius: 10px;
  background-color: rgb(253, 4, 4);
  position: relative;
  opacity: 1;
}

.opautreselectpuis:hover {
  @extend .bgTop;
  border-radius: 10px;
  background-color: rgb(218, 79, 79);
  position: relative;
  opacity: 1;
}

.opautrefo {
  @extend .bgCenter;
  border-radius: 10px;
  background-color: rgb(241, 107, 27);
  position: relative;
  opacity: 1;
}

.opautrefop {
  @extend .bgTop;
  border-radius: 10px;
  background-color: rgb(173, 72, 11);
  position: relative;
  opacity: 1;
}

.opautrevrai {
  @extend .bgCenter;
  border-radius: 10px;
  background-color: rgb(3, 190, 119);
  position: relative;
  opacity: 1;
}

.opautrevraip {
  @extend .bgTop;
  border-radius: 10px;
  background-color: rgb(4, 122, 78);
  position: relative;
  opacity: 1;
}

.opautreco {
  @extend .bgCenter;
  border-radius: 10px;
  background-color: rgb(60, 100, 224);
  position: relative;
  opacity: 1;
}

.opautrecop {
  @extend .bgTop;
  border-radius: 10px;
  background-color: rgb(52, 65, 215);
  position: relative;
  opacity: 1;
}
