table.tableauMathlive {
  border-collapse: collapse;
  text-align: center;
  border: 3px solid #333333;
  // pour désactiver les hamburger menu icon
  math-field::part(menu-toggle) {
    display: none;
  }

  tr {
    border: 1px solid #333333;
    padding: 2px 5px 2px 5px;
    text-align: center;

    td {
      border: 1px solid #333333;
      padding: 4px;
      margin: 2px;
      min-width: 50px;
      text-align: center;

      div.ML__virtual-keyboard-toggle {
        padding: 0px;
      }

      math-field {
        min-width: 28px;
        margin: 2px;
        padding: 2px;
      }
    }
  }

  th {
    border: 1px solid #333333;
    background-color: rgba(33, 109, 154, 0.5);
    padding: 2px 5px 2px 5px;
    margin: 2px;
    text-align: center;
    min-width: 75px;
  }
}
