.zoneColoriage .case {
  border: 1px solid black;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.zoneColoriage .case:hover {
  border: 1px solid red
}

.zoneColoriage .cases2 {
  border: 2px solid black;
}
