
#j3pbulle {
 position:absolute;
 display:block;
 }
 
 #j3pbulletop {
 display:block;
 height:5px;
 margin-left:5px;
 overflow:hidden;
 }
 
 #j3pbullecont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#FF8C66;
 color:#fff;
 }
 
#j3pbullebot {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
}