table{
    text-align:center;
/*    padding: 3px 3px 3px 3px;*/
    vertical-align:center; 
    font-family:times new roman;
    border-top: 3px solid #5C9CCC;
    border-left: 3px solid #5C9CCC;
    border-bottom: 3px solid #3575A7;
    border-right: 3px solid #3575A7;
    color:#000;  
    border-spacing: 1px;
    border-collapse: separate;
    font-size:14px;

  
}

.tableparam{
/*    text-align:center;*/
/*    padding: 3px 3px 3px 3px;*/
    vertical-align:center; 
    font-family:times new roman;
    border-top: 3px solid #5C9CCC;
    border-left: 3px solid #5C9CCC;
    border-bottom: 3px solid #3575A7;
    border-right: 3px solid #3575A7;
    color:#000;  
    border-spacing: 1px;
/*    border-collapse: separate;*/
    font-size:14px;
/*    width:220px;*/

  
}
tr{
    border-width: 1px;padding: 4px;border-style: inset;border-color: gray;background-color: white;
}

td{
/*    text-align:center;
    padding: 0px 0px 0px 0px;
    vertical-align:center; 
    font-family:times new roman;
    border-top: 3px solid #5C9CCC;
    border-left: 3px solid #5C9CCC;
    border-bottom: 3px solid #3575A7;
    border-right: 3px solid #3575A7;
    color:#000;  
    font-size:14px;*/
    
    border-width: 1px;padding: 4px;border-style: inset;border-color: black;background-color: white;
/*    background-color: #ABF;*/
  
}