/*
    Document   : j3pbases
    Created on : 20 janv. 2013, 00:03:07
    Author     : SebC
    Description:
        Purpose of the stylesheet follows.
*/

/* Couleurs */
.blanc {
    color: white;
}

.noir {
    color: black;
}

.rouge {
    color: red;
}

.vert {
    color: green;
}

.bleu {
    color: blue;
}

/* Mise en forme des boutons */
button, .-btn, input[type="button"] {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    text-decoration: none;
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

button:hover, .-btn:hover, input[type="button"]:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFE2CF;
}

button:active, .-btn:active, input[type="button"]:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 -15px 15px rgba(0, 0, 0, 0.1) inset;
}

/* Taille des boutons*/
button.big, .-btn.big, input.big[type="button"] {
    padding: 6px 11px;
}

button.special .-btn.special, input.special[type="button"] {
    border-width: 1px;
}

button.huge, .-btn.huge, input.huge[type="button"] {
    line-height: 22px;
}

input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    margin: 0;
    -moz-box-sizing: content-box;
    display: inline-block;
    outline: medium none;
    vertical-align: middle;
    padding: 4px 6px 5px;
    box-shadow: 0 0 3px #999999 inset;
}

input[type="text"]:focus {
    box-shadow: 0 0 6px #FFAA75;
}

input[type="button"].ok {
    padding-left: 38px;
    background-image: url('boutons/ok4.png');
    background-repeat: no-repeat;
    background-color: #099;
    color: white;
    border-radius: 7px;
    border-color: white;
    background-position: 5px center;
}

input[type="button"].ok:hover {
    background-color: #00999988;
}

input[type="button"].ok:active {
    background-color: #009999;
}

input[type="button"].suite {
    padding-right: 38px;
    background-image: url(boutons/next2v2.png);
    background-color: #099;
    color: white;
    border-radius: 7px;
    border-color: white;
    background-repeat: no-repeat;
    background-position: right center;
}

input[type="button"].suivant {
    padding-right: 38px;
    background-image: url(boutons/next3v2.png);
    background-color: #099;
    color: white;
    border-radius: 7px;
    border-color: white;
    background-repeat: no-repeat;
    background-position: right center;
}

.nowrap {
    white-space: nowrap;
}

.blue {
    color: blue;
}

math-field {
    min-width: 28px;
}
