/*
    Document   : j3pboutons
    Created on : 10 sept. 2012, 04:54:55
    Author     : jean-philippevanroyen
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.J3PBoutonsWS {
  position: relative;
  overflow: hidden;
  /*    background : url("puissance.png") no-repeat;*/
  background-color: #ffffff;
  background-position: center;
  border-style: solid;
  border-width: 1px;
  border-color: #356AA0;
  border-radius: 10px;
  float: left;
  text-align: center;
  margin: 0px;
  max-height: 100px;
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.J3PBoutonsWS:hover {
  cursor: pointer;
  border-width: 2px;
}

.J3PBoutonsWS:active {
  position: relative;
  top: 1px;
  border-width: 3px;
}

.J3PBoutonsWSactif {
  position: relative;
  overflow: hidden;
  /*    background : url("puissance.png") no-repeat;*/
  background-color: #ffffff;
  background-position: center;
  border-style: solid;
  border-width: 3px;
  border-color: #356AA0;
  border-radius: 10px;
  float: left;
  text-align: center;
  margin: 0px;
  max-height: 100px;
  font-size: 30px;
  width: 40px;
  height: 40px;
}

.mqBtn {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #356AA0;
  border-radius: 10px;
  float: left;
  text-align: center;
  margin: 0;
  /*padding: 3px;*/
  max-height: 100px;
  font-size: 30px;
}
/* faut le repréciser dans le cas où on est dans un dialog, sinon c'est la taille de .ui-dialog-content qui gagne */
.ui-dialog-content .mqBtn {
  font-size: 30px;
}
.mqBtn:hover {
  cursor: pointer;
}
.mqBtn:active {
  position: relative;
  top: 1px;
}
/* Les ajouts pour qq commandes, les boutons avec .mqBtnXxx on aussi la classe .mqBtn */
.mqBtnln, .mqBtnsin, .mqBtncos, .mqBtntan {
  font-family: 'CM super';
}
.mqBtnpuissance {
  background-image: url("puissance.png");
}
.mqBtnindice {
  background-image: url("indice.png");
}
.mqBtnbarre {
  background-image: url("barre.png");
}
.mqBtnUn {
  background-image: url("un.png");
}
.mqBtnR {
  background-image: url("R.png");
}
.mqBtnn {
  background-image: url("n.png");
}
.mqBtninf {
  background-image: url("infini.png");
}
.mqBtnvide {
  background-image: url("vide.png");
}
.mqBtninter {
  background-image: url("inter.png");
}
.mqBtnunion {
  background-image: url("union.png");
}
.mqBtnpi {
  background-image: url("pi.png");
}
.mqBtnracine {
  background-image: url(racine.png);
}
.mqBtnvecteur {
  background-image: url("vecteur.png");
}
.mqBtnprosca {
  background-image: url("prosca.png");
}
.mqBtnabs {
  background-image: url("abs.png");
}
.mqBtninteg {
  background-image: url("integ.png");
}
.mqBtnprim {
  background-image: url("prim.png");
}
.mqBtnconj {
  background-image: url("conj.png");
}
.mqBtnbracket {
  background-image: url("bracket.png");
}
.mqBtnsigma {
  background-image: url("sigma.png");
}
.mqBtnk_parmi_n {
  background-image: url("k_parmi_n.png");
}
.mqBtnfraction {
  background-image: url("fraction.png");
}
.mqBtnexp {
  background-image: url("exp.png");
}
.mqBtninfegal {
  background-image: url("infegal.png");
}
.mqBtnsupegal {
  background-image: url("supegal.png");
}
.mqBtnequivaut {
  background-image: url("equivaut.png");
}
.mqBtnsetminus {
  background-image: url("setminus.png");
}
.mqBtndifferential {
  background-image: url("differential.png");
}


.MepBoutonsNext {
  /* FIXME background: url("nextQuestion.png") no-repeat; */
  background-color: #ffffff;
  background-position: center;
}

.MepBoutonsPrev {
  /* FIXME background: url("avant.png") no-repeat; */
}

.MepBoutonsDivision {
  background: url("boutons/division30.png") no-repeat;
  background-color: #E5F3FF;
  background-position: center;
}

.MepBoutonsAddition {
  background: url("boutons/addition30.png") no-repeat;
  background-color: #E5F3FF;
  background-position: center;
}

.MepBoutonsSoustraction {
  background: url("boutons/soustraction30.png") no-repeat;
  background-color: #E5F3FF;
  background-position: center;
}

.MepBoutonsMultiplication {
  background: url("boutons/multiplication30.png") no-repeat;
  background-color: #E5F3FF;
  background-position: center;
}


.MepBoutonsArriere {
  background: url("boutons/arriere30-1.png") no-repeat;
  background-color: #FFDEC2;
  background-position: center;
}

.MepBoutonsAdditionSelect {
  background: url("boutons/addition30.png") no-repeat;
  background-color: #FFFB85;
  background-position: center;
}

.MepBoutonsSoustractionSelect {
  background: url("boutons/soustraction30.png") no-repeat;
  background-color: #FFFB85;
  background-position: center;
}

.MepBoutonsMultiplicationSelect {
  background: url("boutons/multiplication30.png") no-repeat;
  background-color: #FFFB85;
  background-position: center;
}

.MepBoutonsDivisionSelect {
  background: url("boutons/division30.png") no-repeat;
  background-color: #FFFB85;
  background-position: center;
}

/*
    .J3PBoutons
    Petits boutons gris moches

*/
.J3PBoutons {

  border: 1px solid #4297d7;
  position: relative;
  background-position: top left;
  background-color: #EEE;
  color: #000;
  float: left;
  text-align: center;
  margin: 5px;
  padding: 3px;
  max-height: 100px;
  font-size: 16px;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-right: 2px solid #FFF;
}

.J3PBoutons:hover {
  border: 1px solid #4297d7;
  position: relative;
  background-position: top left;
  background-color: #DDD;
  color: #000;
  float: left;
  text-align: center;
  margin: 5px;
  padding: 3px;
  max-height: 100px;
  font-size: 16px;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-right: 2px solid #FFF;
  cursor: pointer;
}

/*
    .MepBoutons
    Les boutons de base
*/

/*
ALEX : Nouveaux styles de boutons
*/
.MepBoutonValider {
  position: relative;
  /*overflow:hidden;
  background : url(boutons/ok.png);/*url("btn_valider.png") no-repeat;*/
  /* border-width:0px;
   /*float: left;*/
  /* text-align: center;
   margin: 0px;
   /*padding: 3px;*/
  height: 44px;
  width: 100px;
}

.MepBoutonValider:hover {
  cursor: pointer;
}

.MepBoutonValider:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.MepBoutonSuite {

  position: relative;
  overflow: hidden;
  background: url(boutons/next.png); /*url("btn_suite2.png") no-repeat;*/
  background-position: 0 0;
  border-width: 0px;
  /*float: left;*/
  text-align: center;
  margin: 0px;
  /*padding: 3px;*/
  height: 41px;
  width: 100px;
  font-size: 30px;

}

.MepBoutonSuite:hover {
  cursor: pointer;
}

.MepBoutonSuite:active {
  position: relative;
  top: 1px;
  left: 1px;
}

/*
FIN AJOUT ALEX
*/
.MepBoutons {

  -moz-box-shadow: 6px 10px 17px -9px #455e75;
  -webkit-box-shadow: 6px 10px 17px -9px #455e75;
  box-shadow: 6px 10px 17px -9px #455e75;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfeffc), color-stop(1, #9ec1e3));
  background: -moz-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: -webkit-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: -o-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: -ms-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: linear-gradient(to bottom, #dfeffc 5%, #9ec1e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfeffc', endColorstr='#9ec1e3', GradientType=0);

  background-color: #dfeffc;

  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;

  border: 1px solid #84bbf3;

  display: inline-block;
  color: #1c436b;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 23px;
  text-decoration: none;

  text-shadow: 0px 1px 0px #528ecc;

}

.MepBoutons:hover {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ec1e3), color-stop(1, #dfeffc));
  background: -moz-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: -webkit-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: -o-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: -ms-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: linear-gradient(to bottom, #9ec1e3 5%, #dfeffc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ec1e3', endColorstr='#dfeffc', GradientType=0);
  background-color: #9ec1e3;
}

.MepBoutons:active {
  position: relative;
  top: 1px;
}


.MepBoutons2 {

  -moz-box-shadow: 6px 10px 17px -9px #455e75;
  -webkit-box-shadow: 6px 10px 17px -9px #455e75;
  box-shadow: 6px 10px 17px -9px #455e75;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfeffc), color-stop(1, #9ec1e3));
  background: -moz-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: -webkit-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: -o-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: -ms-linear-gradient(top, #dfeffc 5%, #9ec1e3 100%);
  background: linear-gradient(to bottom, #dfeffc 5%, #9ec1e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfeffc', endColorstr='#9ec1e3', GradientType=0);

  background-color: #dfeffc;

  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;

  border: 1px solid #84bbf3;

  display: inline-block;
  color: #1c436b;
  font-family: Georgia;
  font-size: 16px;
  /*    font-weight:bold;*/
  padding: 5px 10px;
  text-decoration: none;

  text-shadow: 0px 1px 0px #528ecc;

}

.MepBoutons2select {

  -moz-box-shadow: 6px 10px 17px -9px #455e75;
  -webkit-box-shadow: 6px 10px 17px -9px #455e75;
  box-shadow: 6px 10px 17px -9px #455e75;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F2A96E), color-stop(1, #E67214));
  background: -moz-linear-gradient(top, #F2A96E 5%, #E67214 100%);
  background: -webkit-linear-gradient(top, #F2A96E 5%, #E67214 100%);
  background: -o-linear-gradient(top, #F2A96E 5%, #E67214 100%);
  background: -ms-linear-gradient(top, #F2A96E 5%, #E67214 100%);
  background: linear-gradient(to bottom, #F2A96E 5%, #E67214 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2A96E', endColorstr='#E67214', GradientType=0);

  background-color: #dfeffc;

  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;

  border: 1px solid #84bbf3;

  display: inline-block;
  color: #1c436b;
  font-family: Georgia;
  font-size: 16px;
  /*    font-weight:bold;*/
  padding: 5px 10px;
  text-decoration: none;

  text-shadow: 0px 1px 0px #528ecc;

}

.MepBoutons2:hover {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ec1e3), color-stop(1, #dfeffc));
  background: -moz-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: -webkit-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: -o-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: -ms-linear-gradient(top, #9ec1e3 5%, #dfeffc 100%);
  background: linear-gradient(to bottom, #9ec1e3 5%, #dfeffc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ec1e3', endColorstr='#dfeffc', GradientType=0);
  background-color: #9ec1e3;
}

.MepBoutons2:active {
  position: relative;
  top: 1px;
}


/*
    .MepBoutonsDG
    Les boutons de l’outil droite graduée'
*/
.MepBoutonsDG {
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #b7c2c2));
  background: -moz-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -webkit-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -o-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -ms-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: linear-gradient(to bottom, #eeeeee 5%, #b7c2c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b7c2c2', GradientType=0);

  background-color: #eeeeee;
  border-style: inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #566963;
  display: inline-block;
  color: #434a48;
  font-family: Times New Roman;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  margin: 3px;
  text-shadow: 0px -1px 0px #2b665e;
  padding: 9px 5px;
}

.MepBoutonsDGDisabled {
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #b7c2c2));
  background: -moz-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -webkit-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -o-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -ms-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: linear-gradient(to bottom, #eeeeee 5%, #b7c2c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b7c2c2', GradientType=0);

  background-color: #eeeeee;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  border: 2px solid #566963;

  display: inline-block;
  color: #9ea6a3;
  font-family: Times New Roman;
  font-size: 14px;
  font-weight: normal;
  padding: 9px 23px;
  text-decoration: none;

  text-shadow: 0px -1px 0px #2b665e;

}

.MepBoutonsDG:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7c2c2), color-stop(1, #eeeeee));
  background: -moz-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: -o-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: linear-gradient(to bottom, #b7c2c2 5%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7c2c2', endColorstr='#eeeeee', GradientType=0);
  color: red;
  background-color: #b7c2c2;
}

.MepBoutonsDG:active {
  position: relative;
  top: 1px;
}


.MepBoutonsRepere {
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #b7c2c2));
  background: -moz-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -webkit-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -o-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -ms-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: linear-gradient(to bottom, #eeeeee 5%, #b7c2c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b7c2c2', GradientType=0);

  background-color: #eeeeee;
  border-style: inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;;
  border: 2px solid #566963;

  display: inline-block;
  color: #434a48;
  font-family: Times New Roman;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  text-decoration: none;

  text-shadow: 0px -1px 0px #2b665e;

}

.MepBoutonsRepereDisabled {

  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #b7c2c2));
  background: -moz-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -webkit-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -o-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: -ms-linear-gradient(top, #eeeeee 5%, #b7c2c2 100%);
  background: linear-gradient(to bottom, #eeeeee 5%, #b7c2c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b7c2c2', GradientType=0);

  background-color: #eeeeee;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  border: 2px solid #566963;

  display: inline-block;
  color: #9ea6a3;
  font-family: Times New Roman;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  text-decoration: none;

  text-shadow: 0px -1px 0px #2b665e;

}

.MepBoutonsRepere:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7c2c2), color-stop(1, #eeeeee));
  background: -moz-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: -o-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #b7c2c2 5%, #eeeeee 100%);
  background: linear-gradient(to bottom, #b7c2c2 5%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7c2c2', endColorstr='#eeeeee', GradientType=0);
  background-color: #b7c2c2;
}

.MepBoutonsRepere:active {
  position: relative;
  top: 1px;
}

.MepBoutonsFenetre {
  -moz-box-shadow: 2px 3px 10px -2px #616161;
  -webkit-box-shadow: 2px 3px 10px -2px #616161;
  box-shadow: 2px 3px 10px -2px #616161;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #49C5C5), color-stop(1, #2F9393));
  background: -moz-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: -webkit-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: -o-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: -ms-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: linear-gradient(to bottom, #49C5C5 5%, #2F9393 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49C5C5', endColorstr='#35A7A7', GradientType=0);

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 18px;
  font-weight: normal;
  padding: 9px 14px;
  text-decoration: none;

  text-shadow: -1px -1px 1px #1e4d80;

}

.MepBoutonsFenetre:hover {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #49C5C5), color-stop(1, #2F9393));
  background: -moz-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: -webkit-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: -o-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: -ms-linear-gradient(top, #49C5C5 5%, #2F9393 100%);
  background: linear-gradient(to bottom, #49C5C5 5%, #2F9393 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49C5C5', endColorstr='#35A7A7', GradientType=0);
  color: #164646;
  /*background-color:#337bc4;*/
}

.MepBoutonsFenetre:active {
  position: relative;
  top: 1px;
}


.MepBoutonsFenetre2 {

  -moz-box-shadow: 2px 3px 10px -2px #616161;
  -webkit-box-shadow: 2px 3px 10px -2px #616161;
  box-shadow: 2px 3px 10px -2px #616161;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #61b0ff), color-stop(1, #337bc4));
  background: -moz-linear-gradient(top, #7BBCBC 5%, #4F9C9C 100%);
  background: -webkit-linear-gradient(top, #7BBCBC 5%, #4F9C9C 100%);
  background: -o-linear-gradient(top, #7BBCBC 5%, #4F9C9C 100%);
  background: -ms-linear-gradient(top, #7BBCBC 5%, #4F9C9C 100%);
  background: linear-gradient(to bottom, #7BBCBC 5%, #4F9C9C 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBCBC', endColorstr='#4F9C9C', GradientType=0);

  background-color: #7BBCBC;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 2px;
  text-decoration: none;

  text-shadow: -1px -1px 1px #1e4d80;

}

.MepBoutonsFenetre2:hover {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #337bc4), color-stop(1, #61b0ff));
  background: -moz-linear-gradient(top, #4F9C9C 5%, #7BBCBC 100%);
  background: -webkit-linear-gradient(top, #4F9C9C 5%, #7BBCBC 100%);
  background: -o-linear-gradient(top, #4F9C9C 5%, #7BBCBC 100%);
  background: -ms-linear-gradient(top, #4F9C9C 5%, #7BBCBC 100%);
  background: linear-gradient(to bottom, #4F9C9C 5%, #7BBCBC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4F9C9C', endColorstr='#7BBCBC', GradientType=0);

  background-color: #4F9C9C;
}

.MepBoutonsFenetre2:active {
  position: relative;
  top: 1px;
}

.MepBoutonsFenetre3 {

  -moz-box-shadow: 2px 3px 10px -2px #616161;
  -webkit-box-shadow: 2px 3px 10px -2px #616161;
  box-shadow: 2px 3px 10px -2px #616161;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005CB8), color-stop(1, #00366B));
  background: -moz-linear-gradient(top, #005CB8 5%, #00366B 100%);
  background: -webkit-linear-gradient(top, #005CB8 5%, #00366B 100%);
  background: -o-linear-gradient(top, #005CB8 5%, #00366B 100%);
  background: -ms-linear-gradient(top, #005CB8 5%, #00366B 100%);
  background: linear-gradient(to bottom, #005CB8 5%, #00366B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBCBC', endColorstr='#4F9C9C', GradientType=0);

  background-color: #005CB8;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 18px;
  font-weight: normal;
  padding: 9px 4px;
  text-decoration: none;

  text-shadow: -1px -1px 1px #1e4d80;

}

.MepBoutonsFenetre3:hover {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00366B), color-stop(1, #005CB8));
  background: -moz-linear-gradient(top, #00366B 5%, #005CB8 100%);
  background: -webkit-linear-gradient(top, #00366B 5%, #005CB8 100%);
  background: -o-linear-gradient(top, #00366B 5%, #005CB8 100%);
  background: -ms-linear-gradient(top, #00366B 5%, #005CB8 100%);
  background: linear-gradient(to bottom, #00366B 5%, #005CB8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4F9C9C', endColorstr='#7BBCBC', GradientType=0);

  background-color: #005CB8;
}

.MepBoutonsFenetre3:active {
  position: relative;
  top: 1px;
}

/* bouton zoomIn */
.MepBoutonsDG2plus {
  width: 50px;
  height: 40px;
  background: #FFFFFF url("zoomplus.png") no-repeat center;
  background-size: 30px 30px;
  padding: 5px;
  border: 2px outset silver;
}
.MepBoutonsDG2plusenfonce {
  width: 50px;
  height: 40px;
  background: #D4D4D4 url("zoomplus_select.png") no-repeat center;
  background-size: 30px 30px;
  padding: 5px;
  border: 2px inset silver;
}
.MepBoutonsDG2plusdisabled {
  width: 50px;
  height: 40px;
  background: #FFFFFF url("zoomplus_disabled.png") no-repeat center;
  background-size: 30px 30px;
  padding: 5px;
  border: 2px outset silver;
}
/* bouton zoomOut */
.MepBoutonsDG2moins {
  width: 50px;
  height: 40px;
  background: #FFFFFF url("zoommoins.png") no-repeat center;
  background-size: 30px 30px;
  padding: 5px;
  border: 2px outset silver;
}
.MepBoutonsDG2moinsenfonce {
  width: 50px;
  height: 40px;
  background: #D4D4D4 url("zoommoins_select.png") no-repeat center;
  background-size: 30px 30px;
  padding: 5px;
  border: 2px inset silver;
}
.MepBoutonsDG2moinsdisabled {
  width: 50px;
  height: 40px;
  background: #FFFFFF url("zoommoins_disabled.png") no-repeat center;
  background-size: 30px 30px;
  padding: 5px;
  border: 1px outset silver;
}
/* btn ajout point */
.MepBoutonsDG2ajout {
  width: 50px;
  height: 40px;
  background: #FFFFFF url("ajoutPoint.png") no-repeat center;
  border: 2px outset silver;
}
.MepBoutonsDG2ajoutenfonce {
  width: 50px;
  height: 40px;
  background: #D4D4D4 url("ajoutPoint.png") no-repeat center;
  border: 2px inset silver;
}
.MepBoutonsDG2ajoutdisabled {
  width: 50px;
  height: 40px;
  background: #cccccc url("ajoutPoint.png") no-repeat center;
  border: 1px outset silver;
}
