.texte{
/*    font-size: 1em;*/
    font-family: times new roman;
    padding : 5px;
    color:#000
}

.propriete{
    background: #B3C6FF;
    padding : 10px;
    border : 2px outset #000;
    -webkit-border-radius: 10px;
    -moz-border-radius : 10px ;  
    border-radius: 10px
}

.intitulepropriete{
    font-family:arial;
    margin-left:10px;
    background : none repeat scroll 0 0 #90B0D0;
    color:#FFF;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    width:100px;
    margin-bottom: 10px;
}
.exemple{
    background: #654321;
    margin-left: 20px;
    padding : 5px;
    background: #FFF;
    border-left: 4px solid #4473A2;
    margin-left: 20px;
    margin-top:10px;
    padding:5px
}

.intituleexemple{
    font-family:arial;
    margin-left:10px;
    background : none repeat scroll 0 0 #90B0D0;
    color:#FFF;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    width:100px;
    margin-top:10px;
}
.ita{
    font-style: italic
}

.tab20{
    padding-left: 20px;
}

.gras{
    font-weight: bold;
}

.mev1{
    color: #FF0000;
    font-weight: bold;   
    
}