/*
    Document   : j3pcalculatrice
    Created on : 10 sept. 2012, 04:56:55
    Author     : jean-philippevanroyen
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#Mepcalculatrice  td .touche , #Mepcalculatriceecole  td .touche{
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;

    color:#000000;
    background-color:#EDEDED;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
    font-weight:normal;
 }
 #Mepcalculatrice td .touche:hover, #Mepcalculatriceecole td .touche:hover {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#EDEDED;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }
  #Mepcalculatrice td .touche:active ,   #Mepcalculatriceecole td .touche:active {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#EDEDED;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
     border-bottom: 1px solid #A8A8A8;
     border-right: 1px solid #A8A8A8;
 }



  #Mepcalculatriceecole  td .touchecassee{
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;

    color:#000000;
    background-color:#1F1FFF;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 0px solid #A8A8A8;
    border-right: 0px solid #A8A8A8;
    font-weight:normal;
 }




 #Mepcalculatrice .calculatriceaffiche, #Mepcalculatriceecole .calculatriceaffiche{
     font-size:30px;
 }


 #Mepcalculatrice td .toucheOperation,#Mepcalculatriceecole td .toucheOperation{
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:22px;

    color:#0000FF;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheOperation:hover ,#Mepcalculatriceecole td .toucheOperation:hover {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:22px;
    font-weight:bold;
    cursor : pointer;
    color:#0000FF;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
  #Mepcalculatrice td .toucheOperation:active,#Mepcalculatriceecole td .toucheOperation:active {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:22px;
    font-weight:bold;
    cursor : pointer;
    color:#0000FF;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheC,#Mepcalculatriceecole td .toucheC{
    width:40px;
    height:30px;;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#000000;
    background-color:#F2F2F2;
        border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheC:hover ,#Mepcalculatriceecole td .toucheC:hover {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
        border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
  #Mepcalculatrice td .toucheC:active,#Mepcalculatriceecole td .toucheC:active {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
        border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheVirgule,#Mepcalculatriceecole td .toucheVirgule{
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#000000;
    background-color:#F2F2F2;
        border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheVirgule:hover,#Mepcalculatriceecole td .toucheVirgule:hover {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
           border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
  #Mepcalculatrice td .toucheVirgule:active ,#Mepcalculatriceecole td .toucheVirgule:active {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:16px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
           border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheEgal,#Mepcalculatriceecole td .toucheEgal{
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:22px;
    font-weight:bold;
    color:#000000;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheEgal:hover,#Mepcalculatriceecole td .toucheEgal:hover {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:24px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }

  #Mepcalculatrice td .toucheEgal:active ,#Mepcalculatriceecole td .toucheEgal:active {
    width:40px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:24px;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }

 #Mepcalculatrice td input,#Mepcalculatriceecole td input{
    width:95%;
    text-align:right;
    font-family:System,sans-serif;
    font-size:140%;
 }

 #Mepcalculatrice .logosesamath,#Mepcalculatriceecole .logosesamath{
      text-align:center;
      font-size:80%;

 }

 #Mepcalculatrice .enbas,#Mepcalculatriceecole .enbas{
     background-color:#E8EFF7;
 }
 #Mepcalculatrice .touches,#Mepcalculatriceecole .touches{
     background-color:#E8EFF7;
 }

 #Mepcalculatrice .tableau_general,#Mepcalculatriceecole .tableau_general{
    border-radius: 10px 10px / 5px 5px;
    background-color:#FFFF00;
    margin-bottom: 0.5em;
/*    padding: 0px;*/
 }
