/*
 * KNACSS Garni : add-on for knacss @author: Raphael Goetter, Alsacreations
 * Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
 */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- tables
2- forms
3- print
4- medium screens (tablets)
5- tiny screens (smartphones)
*/


/* ----------------------------- */
/* ==tables */
/* ----------------------------- */
table,
.table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
}
table {
  width: 100%;
  caption-side: bottom;
}
caption {
  padding: 10px;
  color: #555;
  font-style: italic;
}
tbody { border: 1px solid #ccc; }
tbody tr:nth-child(odd) {
  background: #eee;
}
tbody tr > * + * {
  border-left: 1px solid rgba(0, 0, 0, .05);
}
tr > :last-child {
  text-align: right;
}
table th,
table td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
table td {
  color: #555;
}


/* ----------------------------- */
/* ==forms */
/* ----------------------------- */
/* thanks to HTML5boilerplate, github.com/nathansmith/formalize and www.sitepen.com */

form,
fieldset {
  border: none;
}
input,
button,
select,
label {
  vertical-align: middle; /* @bugfix alignment */
}

/* icons */

/* buttons */
.btn { display: inline-block; }
.btn.alternate {}
.btn.highlight {}
.login {}
.logout {}
.primary {}
.warning {}
.error {}
.success {}

/* forms items */
label { cursor: pointer; }
legend {
  border: 0;
  white-space: normal;
}
button,
input,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; /* Improves appearance in IE6/7 */
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar on empty textarea in IE6/7/8/9 */
  min-height: 5em;
  vertical-align: top;
  resize: vertical;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; /* clickable input types in iOS */
  *overflow: visible; /* Corrects inner spacing displayed oddly in IE7 */
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Corrects excess space around these inputs in IE8/9 */
  *width: 13px; *height: 13px; /* Corrects excess space around these inputs in IE7 */
}
input[type="search"] { -webkit-appearance: textfield; }

/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
::-webkit-input-placeholder { color: #777; }
input:-moz-placeholder,
textarea:-moz-placeholder   { color: #777; }

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ----------------------------- */
/* ==print */
/* ----------------------------- */

/* quick print reset */
@media print {
  body {
    width: auto !important;
    margin: auto !important;
    font-family: serif;
    font-size: 12pt;
    background-color: #fff !important;
    color: #333 !important;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  ul,
  ol {
    color: #000 !important;
    margin: auto !important;
  }
  .print {
    display: block; /* displaying .print elements */
  }
  p,
  blockquote {
    orphans: 3; /* no orphans */
    widows: 3; /* no widows */
  }
  blockquote,
  ul,
  ol {
    page-break-inside: avoid; /* no breaks inside these elements */
  }
  h1 {
    page-break-before: always; /* page break before main headers */
  }
  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid; /* no breaks after these elements */
  }
  a {
    color: #000 !important;
    text-decoration: underline !important;
  }
  a[href]:after {
    content: " (" attr(href) ")"; /* displaying URLs */
  }
}



/* ----------------------------- */
/* ==responsive web design */
/* ----------------------------- */

/* quick tablet reset */
@media (max-width: 768px) {
  .tablet-hidden { display: none; }

  /* responsive widths for medium (m) screens, like tablets */
  .m25 { width: 25%; }
  .m33 { width: 33.3333%; }
  .m50 { width: 50%; }
  .m66 { width: 66.6666%; }
  .m75 { width: 75%; }
  .m100 {
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
    float: none !important;
    width: auto !important;
  }
}

/* quick smartphone reset */
@media (max-width: 640px) {
  .phone-hidden { display: none; }

  /* responsive widths for tiny (t) screens, like smartphones */
  .t25 { width: 25%; }
  .t33 { width: 33.3333%; }
  .t50 { width: 50%; }
  .t66 { width: 66.6666%; }
  .t75 { width: 75%; }
  .t100 {
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
    float: none !important;
    width: auto !important;
  }

  .row { width: 100% !important; }
  th,
  td {
    display: block !important;
    width: auto !important;
    text-align: left !important;
  }
  thead { display: none; }
}
