


 div.choix {
      font-size: 100%;
    background : #F0FFFF;
      color: black;
      text-align: left;
    border-width: 1px;
    border-style:solid;
      border-color:black;
    position : absolute;
       }

   div.choix:hover {
       cursor:pointer;
     background : #D3D3D3;
       }
   span.zonelistetexte {
       /* position:static; */
     /* float:left; */
       display:inline-block;
     cursor:pointer;
     background : #F0FFFF;
     vertical-align: middle;
   }
   span.zonelistetextedisabled {
       /* position:static; */
     /* float:left; */
       display:inline-block;
     background : #BDBDBD;
     vertical-align: middle;
   }


     div.zonelistebouton:hover {
       border-width:1px;
     border-color:blue;
   }
      table.choix:hover{
     border-color:blue;
     border-width : 2;
    }
    table.choix {
     border-color:white;
     margin : 0px;
     border-width: 1px;
     border-style:solid;

    }
    table.choixdisabled {
     border-color:white;
     margin : 0px;
     border-width: 1px;
     border-style:solid;

    }
 td.klik {
   font-size: 100%;
 }

 td.klik:hover {
   cursor:pointer;
   color:red;
   font-weight: bold;
 }


