.WorkInProg {
  animation-duration: 2s;
  animation-name: animWorkInProg;
  animation-iteration-count: infinite;
  background-image: none;
  background-repeat: repeat-x;
  background-size: 10% 100%;
}

.boutValget {
  animation-duration: 3s;
  animation-name: animboutValget;
  animation-iteration-count: infinite;
  padding: 0px;
}

@keyframes animboutValget {
  0% {
    padding: 0px;
  }
  80% {
    padding: 0px;
  }
  90% {
    padding: 3px;
  }
  100% {
    padding: 0px;
  }
}


@keyframes animWorkInProg {
  0% {
    background-image:url(./images/work1.png);
  }
  25% {
    background-image:url(./images/work2.png);
  }
  50% {
    background-image:url(./images/work3.png);
  }
  75% {
    background-image:url(./images/work4.png);
  }
  100% {
    background-image:url(./images/work1.png);
  }
}


.MessageCli {
  animation-duration: 2s;
  animation-name: animMessageCli;
  animation-iteration-count: infinite;
  background-color: #9aecd4;
  color: #000b89;
}

@keyframes animMessageCli {
  0% {
    border: 3px solid black;
  }
  50% {
    border: 3px solid red;
    background-color: #e38df1;
  }
}

.errormes {
  animation-duration: 2s;
  animation-name: animerrormes;
  animation-iteration-count: infinite;
  color: #000000;
}

@keyframes animerrormes {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
}

.bouturg {
  animation-duration: 2s;
  animation-name: animebouturg;
  animation-iteration-count: infinite;
  color: #000000;
}

@keyframes animebouturg {
  0% {
  }
  50% {
    background: red;
  }
}

.blocklyFlyoutBackground {
  fill:#cccccc;
  fill-opacity: .8
}

.cKlav {
  cursor: pointer;
  background: #368836;
}
.cKlav:hover {
  background: #00FF00;
}

.flechBasX {
  cursor: pointer;
  color: #aaaaaa;
  border-radius: 5px;
  font-size: 30px;
}

.flechBasX:hover {
  background: #4c4f4c;
  font-weight: 900;
}
