.tableauIndices {
  table-layout: fixed;
  width: 100%;
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
}
.tableauIndicesCase {
  border: 1px solid black;
}
.tableauIndicesCaseth {
  border: 1px solid black;
  background-color: #bbbbbb;
}
.tableauIndicesComment {
  font-style: italic;
  font-size: 80%;
}
