$bienEcrireBorderColor: #F6FAFE;
$bienEcrireBorderColorThemeImageFond: #D8D8D8;

// on ajoute une classe parente pour ne pas modifier les styles de tous les mq-editable-field des nœuds suivants du graphe
.bienEcrire {
  span.mq-editable-field, span.mq-editable-field.empty {
    background-color: white;
  }

  .klik {
    font-size: 150%;
  }

  .klikespsous {
    color: white;
    content: "../Elementgeo/images/flechevide.png";
    border: solid 2px $bienEcrireBorderColor;
    border-top: none;
  }

  .klikespsous:hover {
    background: white url(../Elementgeo/images/flecherouge.png) no-repeat center;
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: 152%;
    border-left: solid 5px $bienEcrireBorderColor;
    border-right: solid 5px $bienEcrireBorderColor;
    width: 30px
  }

  .klikrien {
    font-size: 150%;
  }

  .klikesp {
    font-size: 150%;
    color: white
  }
  .klikb {
    color: rgb(0, 138, 115);
    font-size: 100%;
  }

  .klikf {
    color: rgb(214, 71, 0);
    font-size: 100%;
  }

  .klik:hover, .klikesp:hover, .klikb:hover, .klikf:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }
  .klik:hover, .klikesp:hover {
    font-size: 152%;
  }
  .klikb:hover, .klikf:hover {
    font-size: 102%;
  }
}
// override pour le theme zonesAvecImageDeFond (est-ce bien utile ? car on voit pas vraiment la différence)
.zonesAvecImageDeFond .bienEcrire {
  .klikespsous, .klikespsous:hover {
    border-color: $bienEcrireBorderColorThemeImageFond;
  }
}
