td.Aidegauche {
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-top-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-right-color: white;
  background: #fff;
  border-right-width: 0px
}

td.Aidemilieu {
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-top-color: black;
  border-bottom-color: black;
  border-left-color: white;
  border-right-color: #fff;
  background: #fff;
  border-left-width: 0px;
  border-right-width: 0px
}

td.Aidedroite {
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-top-color: black;
  border-bottom-color: black;
  border-left-color: white;
  border-right-color: black;
  background: #fff;
  border-left-width: 0px
}

td.imptom {
  border-style: solid;
  border-width: 2px;
  border-color: black
}

td.imptom:hover {
  border-color: red
}

td.imptom2 {
  border-style: solid;
  border-width: 2px;
  border-color: black
}
