table.nomme {
  margin: 0;
  border-collapse: collapse;
  padding: 0;

  tr {
    margin: 0;
    padding: 0;
  }

  // on applique les styles sur les td que pour les lignes 1 et 2
  tr:first-child td,
  tr:nth-child(2) td {
    padding: 5px 0 0 0;
    border: 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0
  }

  // et celui-là sur toutes les cellules de gauche
  tr td:first-child {
    text-align: left;
  }
}
