/* ajouts à vendors/mathquill/0.10.1/mathquill.css (qui est la version d’origine) */

/* Ajout Yves pour ne pas avoir un rectangle grisé quand on clique sur un champ d’édition */
.mq-editable-field {
  /* d'habitude on laisse postcss gérre les préfixes css, mais ici on laisse le préfixe webkit, c'est le seul à gérer ça et c'est pas standard https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  -webkit-tap-highlight-color: transparent;
}

/* on met tout le reste avec le sélecteur parent .mq-math-mode sinon on ne peut pas surcharger le sélecteur
 `.mq-math-mode *` d’origine */
.mq-math-mode {
  /* Modifs Yves */
  font-size: 110%; /* 115%; */

  /* Modif Yves pour que la flèche soit plus basse */
  .mq-overarrow {
    border-top: 1px solid !important; /* black viré par Rémi pour que ça reste de la même couleur que le reste */
    padding-top: 0.1em; /* 0.2em */
    padding-bottom: 0.2em;
  }

  .mq-overarrow.mq-arrow-left:before {
    filter: fliph(); /* FlipH */
  }

  .mq-overarrow:before {
    top: -0.22em; /* -0.34em */
    font-size: 0.42em; /* 0.5em */
  }


  .mq-supsub.mq-sup-only {
    vertical-align: .4em; /* .5em; */
    padding-left: 0.1em;
  }

  .mq-denominator {
    padding-bottom: 0 /* padding: 0.1em;   */
  }

  /* Ajouts Yves pour le rendu des primitives et intégrales et le rendu des matrices */
  .mq-smallinteg {
    font-size: 80%;
    margin-left: 0.1em;
    margin-right: 0.2em;
  }

  .mq-integ {
    vertical-align: middle;
  }

  .mq-matrixcell {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    font-size: 80%;
  }

  .mq-systemcell {
    text-align: left;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    font-size: 80%;
  }


  .mq-charinteg {
    font-size: 150%
  }

  .mq-sup {
    font-size: 80%;
    margin-bottom: 0.2em;
  }

  .mq-sub {
    font-size: 80%;
    margin-top: 0.2em;
  }

  .mq-parmatrixrow {
    vertical-align: middle;
    transform: scale(1, 2); /* W3C */
  }

  .mq-paren {
    vertical-align: bottom; /* top */
    /* c'était center .06em; pour la suite */
    transform-origin: bottom center;
  }

  /* Ajout Yves pour compatibilité limites */
  .mq-limperso {
    text-align: center;
    vertical-align: middle;
    margin-right: 0.2em;
    padding-top: 0.4em;
  }

  .mq-limblock {
    display: block;
    margin-bottom: -0.3em;
  }

  .mq-limsmall {
    font-size: 80%;
  }

  /*Ajout Rémi pour la somme*/
  .mq-sumperso {
    vertical-align: -0.8em;
    text-align: center;
    margin-right: 0.2em;
  }

  .mq-sumblock {
    display: block;
    margin-bottom: -0.1em;
    margin-top: -0.1em;
    text-align: center;
    font-size: 160%;
  }

  .mq-smallsum {
    font-size: 80%;
  }

  .mq-angle-symb {
    padding: 0.45em 0 0 0;
    position: relative;
  }
  /* le svg qu'il contient en absolute avec un fill de la couleur courante */
  .mq-angle-symb svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4em;
    fill: currentColor;
  }
  /* d’origine c'est à -1px et ça empêche de voir le curseur clignoter lorsque le champ est vide */
  .mq-cursor {
    margin-left: 1px !important;
  }

  /* Modif pour que les termes des matrices soient mieux séparés */
  .mq-array {
    padding: 0.2em;
  }
}
