.pourFitContent {
    width: fit-content;
}

@font-face {
    font-family: 'Bitstream Véracité Sans';
    font-weight: normal;
    font-style: normal;
    src: url('./Vera.ttf');
    src:
            local('Bitstream Véracité Sans'),
            url('./Vera.ttf') format('truetype')
}
