@use '../core/css/base.scss';

.tooltip {
  /* Float on top of the UI */
  position: absolute;
  display: none;
  /* Avoid layout interference */
  //width: max-content; // faut pas mettre ça sinon les div débordent de ce qui est visible sans overflow
  top: 0;
  left: 0;
  background: base.$darkColor1;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
  z-index: 95;
}
