.memoryCarteDos {
  cursor: pointer;
  border: grey solid 2px;
  border-radius: 10px;
  background-size: 100% 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}

.memoryCarteDos:hover {
  border: red solid 2px;
}

.memoryCarteFace {
  cursor: pointer;
  border: grey solid 2px;
  background: #8c8c8c;
  border-radius: 10px;
  padding: 5px;
}

.memoryCarteFaceMontre {
  border: grey solid 2px;
  background: #b9b1b1;
  border-radius: 10px;
  transform: rotateY(360deg);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  text-align: center;
  padding: 5px;
}

.memoryCarteFaceMontre2 {
  border: grey solid 2px;
  background: #b9b1b1;
  border-radius: 10px;
  transform: rotateY(360deg);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  text-align: center;
  padding: 5px;
}

.memoryCarteFaceRevient2 {
  border: darkblue solid 2px;
  background: #2573b4;
  border-radius: 10px;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  text-align: center;
  padding: 5px;
}

.memoryCarteFaceMontre2:hover {
  cursor: pointer;
}

.memoryCarteDosCache {
  cursor: pointer;
  border: grey solid 2px;
  border-radius: 10px;
  background-size: 100% 100%;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  color: rgba(0, 0, 0, 0);
}

.memoryCarteFaceBloquee {
  border: grey solid 2px;
  background: #75e579;
  border-radius: 10px;
  text-align: center;
  transition: background-color 1s;
  padding: 5px;
}

.memoryCarteDosBloquee {
  visibility: hidden;
}

.memoryCarteFaceRevient {
  border: grey solid 2px;
  background: #b9b1b1;
  border-radius: 10px;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  text-align: center;
  backface-visibility: hidden;
  padding: 5px;
}

.memoryCarteDosRevient {
  cursor: pointer;
  border: grey solid 2px;
  border-radius: 10px;
  background-size: 100% 100%;
  transform: rotateY(360deg);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  color: rgba(0, 0, 0, 0);
}

.memoryCarteDosRevient:hover {
  border: red solid 2px;
}

.memoryCarteFaceDisable {
  cursor: pointer;
  border: grey solid 2px;
  background: #b9b1b1;
  border-radius: 10px;
  transform: rotateY(360deg);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  text-align: center;
  padding: 5px;
}

.memoryCarteFaceDisable:hover {
  border: #30abe5 solid 2px;
}
