.zonesAvecImageDeFond {
  /* on utilise scss qui permet d’inclure une déclaration dans une autre, pour éviter de répéter .zonesAvecImageDeFond partout */
  /* tout ce qui est défini ci-dessous viendra donc en supplément des css de base si y’a un parent avec la classe css zonesAvecImageDeFond */
  table {
    margin: 0;
  }

  tr {
    margin: 0;
  }

  td {
    margin: 0;
  }

  /* si on veut appliquer un style seulement aux td de la 2e ligne
    table.zonesAvecImageDeFond tr:nth-of-type(2) td { … }
  pour les lignes impaires seulement ce serait :
    table.zonesAvecImageDeFond tr:nth-of-type(2n+1) td { … }
  cf https://developer.mozilla.org/fr/docs/Web/CSS/:nth-of-type
  */

  // .fond {
  //  background-image: linear-gradient(to left, rgb(225, 243, 240) 30%, rgb(218, 232, 213));
  // }

  .correction {
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgba(170, 255, 141, 0.5) 30%, rgba(209, 248, 194, 0.5));
  }

  .enonce {
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgba(245, 169, 107, 0.5) 30%, rgba(245, 220, 187, 0.4));
  }

  .explique {
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgba(196, 223, 252, 0.4) 30%, rgba(128, 216, 253, 0.5));
  }

  .travail {
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(187, 187, 187, 0.5) 30%, rgba(224, 224, 224, 0.5));
  }

  .feedback {
    padding: 5px;
    background-image: url(./cahier.jpg);
  }
}
