// Animation pour mettre en évidence un point d’intersection
$pointInterColor: #c1e2b3;

.pointinter {
  animation-duration: 1s;
  animation-name: animPointInter;
  animation-iteration-count: infinite;
  outline : 0 solid black;
  background: $pointInterColor;
}

@keyframes animPointInter {
  0% {
    border: 1px solid black;
  }
  50% {
    border: 1px solid $pointInterColor;
  }
  100% {
    border: 1px solid black;
  }
}
