/* TODO remplacer tous les #truc par des classe, pour permettre d’afficher plusieurs parcours dans le même dom */
/* TODO remplacer tous position:absolute par du relative (et adapter en conséquence)
pour pouvoir afficher un parcours dans une page non vide */
.ep {
  position: absolute;
  bottom: 37%;
  right: 5px;
  width: 1em;
  height: 1em;
  margin-right: -1.1em;
  float: right;
  cursor: pointer;
  background-color: orange;
  box-shadow: 0 0 2px black;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in;
  -moz-transition: -moz-box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
}

#dialogue {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 850px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: -moz-scrollbars-vertical;
  background-color: #FFFFFF;
  font-size: 0.8em;
  text-align: left;
}

#boutonsActions {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 850px;
}

/* style des nodes et de leurs contenus */

.node { /* classe servant à identifier tous les nodes */
  /*font-size:0.8em;*/
  position: absolute;
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: move;
  border-radius: 0.5em;
}

.nodeSection, .nodeFin { /* classe servant à identifier les nodes section et fin */
  width: 10em;
  padding: 0.7em;
  padding-right: 2em;
  border: 2px solid #555555;
}

.nodeConfig, .nodeBranche, .nodeDelete, .nodeEntree {
  margin-right: 0.2em;
  float: right;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.numeronode {
  position: absolute;
  bottom: 40%;
  font-size: 1em;
  right: 23px;
  width: 1em;
  height: 1em;
  margin-right: -1.1em;
}

.dragHover {
  border: 2px dotted red;
}

/* style des branchements (path est le tag svg pour les flèches des branchements) */
path {
  cursor: pointer;
}

.labelBranchement {
  padding: 0.5em;
  font-size: 0.85em;
  font-weight: bold;
  color: #888888;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.infoBulleLabel {
  font-size: 0.7em;
  color: #000000;
  border: 1px solid;
  position: absolute;
  background: #fffad0;
  padding: 0.2em;
}

.infoBulleLabel .warning {
  color: #ff0000;
}

/* boutons dialogue */
.flecheBas {
  cursor: pointer;
  background-image: url("./images/arrow_down.png");
  width: 15px;
  height: 15px;
  display: inline-block;
}

.flecheHaut {
  cursor: pointer;
  background-image: url("./images/arrow_up.png");
  width: 15px;
  height: 15px;
  display: inline-block;
}
