/**
 * CSS des boites de dialogue (toutes child de #edgRoot)
 */
#edgRoot .boiteDialogue {
  padding:20px;
  border: #ddd 20px solid;
  float: left;
  position: fixed;
  z-index: 90;
  background-color: #CCC;
  box-shadow: 0px 0px 20px #000;
  border-radius: 20px;
}
/* pour le masque, un div qui prend toute la place, sous .boiteDialogue */
#edgMasque {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 80;
  background: #000;
}

#edgRoot .croix {
  background-image: url("./images/close_pop.png");
  width:35px;
  height:35px;
  float:right;margin-top:-40px;margin-right:-40px;
}
#edgRoot .titre {
  font-size:24px;
  margin-top:-15px;
}

#edgRoot .contenu {
  font-size:18px;margin-top:10px
}
