/*
    Document   : styleactivite
    Created on : 1 sept. 2011, 17:26:00
    Author     : jean-philippevanroyen
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/*    switch (nomActivite.taillepolice){
        case 'petit':
            $('.meftdHG').css('font-size','20px');
            $('.meftd').css('font-size','16px');
            $('.messageBien').css('font-size','18px');
        break;
        case 'moyen':
            $('.meftdHG').css('font-size','24px');
            $('.meftd').css('font-size','20px');
            $('.messageBien').css('font-size','22px');
        break;
        case 'grand':
            $('.meftdHG').css('font-size','32px');
            $('.meftd').css('font-size','28px');
            $('.messageBien').css('font-size','30px');
            $('.body').css('font-size','28px');
        break;

    }*/

body  {

    padding:10px;
    font-size:28px;

      min-height: 100%;
  max-width: 8.35in;
  margin: 10px auto;
/*  font-family: Georgia, serif;*/
  color: #94A6B8;
  background-color: white;
  box-shadow: 0 0 1em #94A6B8;
  -moz-box-shadow: 0 0 1em #94A6B8;
  -webkit-box-shadow: 0 0 1em #94A6B8;
}


div.styletableau {
  width:100%;
  border-width:0px;
  border-style:solid;
  border-collapse:collapse;
  border-color:#5C9CCC;
  margin-bottom:1em;

}
div.styletableau th {
  border:solid thin;
  background-color:#5C9CCC;
}

div.styletableau td {
  border:solid thin;
  text-align:center;
}
.tableprincipale{
/*       border:2px solid #92AAB9;*/
       background-color:#F6FAFE;
       border-top: 2px solid #5C9CCC;
  border-left: 2px solid #5C9CCC;
  border-bottom: 2px solid #3575A7;
  border-right: 2px solid #3575A7;
  width:800px;
  height:600px;
/*  position:relative;*/

}
.meftd{
       text-align:left;
/*       background-color:#EFF2F5;*/
      font-family:times new roman;
           border-top: 1px solid #5C9CCC;
  border-left: 1px solid #5C9CCC;
  border-bottom: 1px solid #3575A7;
  border-right: 1px solid #3575A7;
       color:#3E5360;

}

.meftdMDH, .meftdMDM, .meftdMDB{
       text-align:left;
       vertical-align:top;
/*       background-color:#EFF2F5;*/
       font-family:times new roman;
       border-top: 1px solid #5C9CCC;
  border-left: 1px solid #5C9CCC;
  border-bottom: 1px solid #3575A7;
  border-right: 1px solid #3575A7;
       color:#3E5360;
}


.meftdMDB{
       text-align:left;
       vertical-align:top;
/*       background-color:#EFF2F5;*/
       font-family:times new roman;
       border-top: 1px solid #5C9CCC;
  border-left: 1px solid #5C9CCC;
  border-bottom: 1px solid #3575A7;
  border-right: 1px solid #3575A7;
       color:red;
}


.meftdHG{
       text-align:left;
/*       background-color:#EFF2F5;*/
      font-family:arial;
/*       font-style:italic;*/
        font-size:34px;
        background:#DFEDFB;
            border-top: 1px solid #5C9CCC;
  border-left: 1px solid #5C9CCC;
  border-bottom: 1px solid #3575A7;
  border-right: 1px solid #3575A7;
       color:#3E5360;
}

.correctionCaseTableau {
background: #FFFFFF;
border:2px solid #333;
font-style:italic;
padding:2px;
color:red;
}

.messageBien {

       text-align:left;
       vertical-align:top;
       background-color:#F6FAFE;
       font-family:"times new roman";
       border:2px solid #AAAAAA;
       color:#339966;
       font-size:30px;
}


.messageFaux {

       text-align:left;
       vertical-align:top;
       background-color:#F6FAFE;
      font-family:"times new roman";
       border:2px solid #6699FF;
       color:#FF432E;
        font-size:30px;
}


.MepBoutons {
/*  width: 50px;*/
 border: 1px solid #4297d7;
position:relative;
/* background-position: top left ;*/
/* background : url("ui-bg_gloss-wave_55_5c9ccc_50x10.png"); */
 background-color:#dfeffc;
/* background-attachment: fixed;*/
/* color: #222222; */
color:#265A7D;
 float: left;
  text-align: center;
  margin: 3px;
  padding: 3px;
   max-height: 100px;
   font-size:23px;
          border-top: 1px solid #B5D4E8;
  border-left: 1px solid #B5D4E8;
  border-bottom: 2px solid #8EBDDC;
  border-right: 2px solid #8EBDDC;

}

.MepBoutonsDisabled {
/*  width: 50px;*/
 border: 1px solid #4297d7;
position:relative;
/* background-position: top left ;*/
/* background : url("ui-bg_gloss-wave_55_5c9ccc_50x10.png"); */
 background-color:#dfeffc;
/* background-attachment: fixed;*/
/* color: #222222; */
color:#777777;
 float: left;
  text-align: center;
  margin: 3px;
  padding: 3px;
   max-height: 100px;
   font-size:23px;
          border-top: 1px solid #B5D4E8;
  border-left: 1px solid #B5D4E8;
  border-bottom: 2px solid #8EBDDC;
  border-right: 2px solid #8EBDDC;

}


.MepBoutons:hover {
/*  width: 50px;*/
 border: 1px solid #4297d7;
position:relative;
/* background-position: top left ;*/
/* background : url("ui-bg_gloss-wave_55_5c9ccc_50x10.png"); */
 background-color:#dfeffc;
/* background-attachment: fixed;*/
/* color: #222222; */
color:#FFFFFF;
 float: left;
  text-align: center;
  margin: 3px;
  padding: 3px;
   max-height: 100px;
   font-size:23px;
          border-top: 1px solid #B5D4E8;
  border-left: 1px solid #B5D4E8;
  border-bottom: 2px solid #8EBDDC;
  border-right: 2px solid #8EBDDC;
 cursor:pointer;

}


.MepBoutonsUp {
/*  width: 50px;*/
/*  width: 50px;*/
 border: 1px solid #4297d7;
position:relative;
cursor:pointer;
/* background-position: top left ;*/
/* background : url("ui-bg_gloss-wave_55_5c9ccc_50x10.png");*/
 background-color:#dfeffc;
 color:#FFFFFF;
/* background-attachment: fixed;*/
/* color: #222222; */
 float: left;
  text-align: center;
  margin: 3px;
  padding: 3px;
   max-height: 100px;
   font-size:23px;
          border-top: 1px solid #B5D4E8;
  border-left: 1px solid #B5D4E8;
  border-bottom: 1px solid #8EBDDC;
  border-right: 1px solid #8EBDDC;

}

.barreBoutons {

/*    background-color: #EFF2F5; */
    width:150px;
    height: 30px;
/*        position:absolute;
                top:0px;
                right:0px;*/

}

.indication {

       font-family:"times new roman";
       font-style:italic;
       color:#004D66;
       margin:0px;

}


p {

    margin:0px;
}

ul li{
    margin:5px;
    border:1px;
    box-shadow: 0 0 1em #94A6B8;
    background-color: #FFFFFF;
    color:#00F;
}

/*li.ui-state-default{
    font-size:10px;
}*/

a:hover {
    color:#FFFFFF;
}



 .meprouge{
     color:#006666;
 }

 .mepscore{
     color:#003D99;
 }


 #Mepcalculatrice td .touche{
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:110%;
    color:#000000;
    background-color:#EDEDED;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
/*    font-weight:bold;*/
 }
 #Mepcalculatrice td .touche:hover {
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:120%;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#EDEDED;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
/*    //border-bottom: 2px solid #A8A8A8;
    //border-right: 2px solid #A8A8A8;    */
 }
  #Mepcalculatrice td .touche:active {
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:120%;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#EDEDED;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
     border-bottom: 1px solid #A8A8A8;
     border-right: 1px solid #A8A8A8;
 }

 #Mepcalculatrice td .toucheOperation{
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:130%;
    color:#003366;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheOperation:hover {
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:100%;
    font-weight:bold;
    cursor : pointer;
    color:#003366;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheC{
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:100%;
    font-weight:bold;
    color:#000000;
    background-color:#F2F2F2;
        border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheC:hover {
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:100%;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
        border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheVirgule{
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:120%;
/*    font-weight:bold;*/
    color:#000000;
    background-color:#F2F2F2;
 }
 #Mepcalculatrice td .toucheVirgule:hover {
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:140%;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
 }
 #Mepcalculatrice td .toucheEgal{
    width:44px;
    height:30px;
    text-align:center;
    font-family:System,sans-serif;
    font-size:100%;
/*    font-weight:bold;*/
    color:#000000;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
 }
 #Mepcalculatrice td .toucheEgal:hover {
    width:44px;
    height:30px;;
    text-align:center;
    font-family:System,sans-serif;
    font-size:100%;
    font-weight:bold;
    cursor : pointer;
    color:#000000;
    background-color:#F2F2F2;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
 }

 #Mepcalculatrice td input{
    width:98%;
    text-align:right;
    font-family:System,sans-serif;
    font-size:140%;
 }

 #Mepcalculatrice .logosesamath{
      text-align:center;
      font-size:80%;

 }

 #Mepcalculatrice .enbas{
     background-color:#E8EFF7;
 }
 #Mepcalculatrice .touches{
     background-color:#E8EFF7;
 }

 #Mepcalculatrice .tableau_general{
    border-radius: 10px 10px / 5px 5px;
    background-color:#FFFF00;
 }
