.systemeEquations {
  @extend .accoladeOuvrante;
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;

  & > div {
    margin: 0.5em;
  }
}

.accoladeOuvrante {
  background: url(accoladeOuvrante.svg) no-repeat;
  background-size: 30px 100%;
  background-position: left center;
  min-width: 3ch; /* largueur d’un 0 dans la police courante */
}
/*
C'est assez pénible de changer la couleur d’une image mise en background-image, car le svg n’est pas dans le dom
=> on peut pas le manipuler en js.

Pour avoir une couleur à la demande, on peut
- mettre le svg dans le dom (dans un div|span séparé) et, au choix
  - lui appliquer des filtres en css pour changer sa couleur
  - changer ses propriétés de couleur fill/stroke en js
  - le mettre en mask pour que l’accolade soit de la couleur background-color
- mettre le svg en inline dans ce css, avec une série de couleurs prédéterminées
- mettre en background plusieurs svg de couleurs différentes

Ici, on a juste besoin des 3 cas, on crée donc 3 svg qu'on met en background-image
si y’a un parent avec le className voulu, c'est bcp plus simple
*/
.cbien .accoladeOuvrante {
  background-image: url(accoladeOuvranteOk.svg);
}
.cfaux .accoladeOuvrante {
  background-image: url(accoladeOuvranteKo.svg);
}
.correction .accoladeOuvrante {
  background-image: url(accoladeOuvranteCorrection.svg);
}
