div.tableur {
  margin:20px auto 20px auto;
  width:900px;
  background-color:#8A8A8A;
  padding:0 2px 4px 2px;
  font-size:16px;
}

div.tableur *:focus { outline:none; }

div.tableur div.outils{
  position:relative;
  top:0px;
  right:0px;
  height:26px;
  padding:0px 0px 0px 3px;
  overflow:hidden;
  margin:0;
  font-size:16px;
}



div.tableur div.outils *, div.tableur div.diventree * {
  vertical-align:middle;
  margin:4px 0px 0px 5px;
}

div.tableur div.diventree {
  position:relative;
  margin-left:5px;
  display:inline;
  width:395px;
}

div.tableur div.diventree img {
  position:absolute;
  right:7px;
  top:4px;
}



div.tableur div.diventree  input {
  margin-left:5px;
  padding:0;
  border-color:lightgrey;
  height:17px;
  width:345px;
  //background: url(img/flecheb.png) no-repeat right white;
  border-right:2px;
}



div.tableur div.diventree span {
  font-weight:bold;
  font-size:15px;
  background:whitesmoke;
  display:inline-block;
  min-width:3em;
  text-align:center;
}

div.tableur math {
  display:block;
}

div.tableur div.conteneur {
  position:relative;
  width:100%;
  top:5px;
  bottom:5px;
  overflow:auto;
  background-color:white;
  max-height:500px;
  margin:0 0 2px 0;
}



div.tableur div.assistant {
  display:none;
//  height:22px;
  padding:5px 5px 2px 5px;
  background-color:#ffff66;
}



div.tableur div.assistant * {
  font-size:12px;
}

div.tableur  div.assistant select.commandes {
  z-index:2;
  margin:0 0 5px 0;
  text-align:right;
  display:inline;
}

div.tableur  div.assistant select.commandes option {
  //margin:0 0 0 5px;
  text-align:left;
}

div.tableur  div.assistant select.commandes optgroup {
  margin:2px 0 1px 0;
  text-align:left;
}

div.tableur div.assistant input {
  width:60px;
  text-align:center;
}



div.tableur div.assistant span {
  display:none;
  font-size:14px;
}



div.tableur div.assistant span input {
  width:75px;
}



div.tableur div.assistant input.ok {
  width:30px;
}

div.tableur div.assistant span select {
  margin-left:10px;
  outline:0;
}



div.tableur div.assistant span input.graph  {
  width:200px;
  text-align:left;
  margin-left:2px;
  margin-right:10px;
  display:none;
}

div.tableur div.assistant img {
  position:absolute;
  top:4px;
  right:6px;
}

div.tableur div.assistant img:hover {
 opacity:0.5;
}

div.tableur div.tableau {
  width:100%;
  margin:0;
//overflow:hidden;
}

div.tableur div.tableau table {
  border-collapse:collapse;
  width:100%;
//  overflow:hidden;
}

div.tableur div.tableau table thead {
  height:21px;
}

div.tableur div.tableau table tbody {
  max-height:200px;
  overflow-x:hidden;
  overflow-y:auto;
}


.bloc {
  display:block;
  overflow:auto;
}

div.tableur td, div.tableur th {
  border:1px solid #333333;
  border-top:0;
  border-right:0;
  text-align:center;
  padding:0;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* empiriquement */
div.tableur td {
  min-width:100px;
}


.col1, div.tableur td:first-child {
  min-width:50px;
  width:50px;
}


div.tableur th, div.tableur td:first-child{
 background-color:#BABABA;
 box-shadow: 0px -20px 10px -10px rgba(0,0,0,0.2) inset;
 text-align:center;
}

div.tableur table td div{
  position:relative;
  top:0;
  left:0;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

#poignee {
  position:absolute;
  bottom:0;
  right:0;
  margin:0;
  cursor:crosshair;
}

