div.console { 
  position:relative;
  width:92%;
  height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  margin:0 0 0 2%;
  padding:0 1% 0 1%;
  background:white;

}

div.console p {
  font-size:16px;
  margin:5px;
  border-width:0px 0px 1px 0px;
  padding:2px;
  border-style:dotted;
  border-color:#303531;
}

div.console math {
  display:block;
  font-size:16px;
  cursor:pointer;
}

div.console span { 
 cursor:pointer;
}

div.console input {
  left:2%;
  width:96%;
  border:0px;
  margin :5px;
  padding:2px;
  font-size:16px;
}

div.console input:focus {
 outline: none;
}

#fin { 
  margin:5px;
}