// et https://sass-lang.com/documentation/style-rules/placeholder-selector
// faut un placeholder et pas un mixin car on utilise & qui référence le sélecteur parent (faut donc être étendu pour que ça fonctionne)
%tbBase {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  & > tr {
    margin: 0;
    padding: 0;
  }
  // pour toutes les cellules de gauche
  & > tr > td:first-child {
    text-align: left;
  }
}
// cf https://sass-lang.com/documentation/style-rules/placeholder-selectors
// pour l’inclure sur les td de différentes classes de tableaux
@mixin tdBase {
  padding: 5px 0 0 0;
  border: 0;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0
}

// notre style de tableau par défaut
table.tbDefault {
  @extend %tbBase;
  // style de cellule sur toutes les cellules de notre tableau (mais pas des tableaux enfants éventuels)
  & > tr > td {
    @include tdBase;
  }
}
// idem default mais avec les styles de td sur les deux premières lignes uniquement
table.tbDefaultL12 {
  @extend %tbBase;
  // on applique les styles sur les td que pour les lignes 1 et 2
  & > tr:first-child > td,
  & > tr:nth-child(2) > td {
    @include tdBase;
  }
}
// idem default avec bordure de 2px sur les td
table.tbWithBorder {
  @extend .tbDefault;
  & > tr > td {
    border: 2px solid black;
  }
}

// idem default avec bordure de 2px sur les td, textes centrés, width max-content et padding
table.tbStat01 {
  @extend .tbDefault;
  & > tr > td {
    border: 2px solid black;
    padding: 5px 10px;
    text-align: center;
    width: max-content; // empêche le wrap, cf https://developer.mozilla.org/en-US/docs/Web/CSS/max-content
  }
}

// idem default avec textes centrés, width max-content, align bottom et petit padding horizontal
table.probleme {
  @extend .tbDefault;
  & > tr > td {
    padding: 5px 4px 0 4px;
    text-align: center;
    vertical-align: bottom;
    width: max-content;
  }
}

table.collapsed {
  border-collapse: collapse;
}

table.frac {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 0;
  border-collapse: collapse;

  .fracNumerateur {
    vertical-align: bottom;
    text-align: center;
  }

  .fracDenominateur {
    vertical-align: top;
    text-align: center;
  }

  .fracTrait {
    min-height: 2px;
    background: #000000;
  }
}
