#j3pContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toggleBtn {
  top: 5px;
  left: 5px;
}

div.pathwayScene {
  position: relative; /* indispensable pour jsPlumb */
  flex: 3 1 auto;
  top: 30px;
  width: 100%;
  height: 90%;
  border: solid 1px #0a3069;
}

.graphNode {
  min-width: 100px;
  max-width: 33%;
  position: absolute;
  padding: 15px;
  border: solid 1px #316ec9;
  border-radius: 5px;
  background-color: #e5e0e0;
  left: 0;
  top: 0;
  opacity: 0.8;
}

.graphNode.done {
  opacity: 1;
}

.graphNodeEnd {
  min-width: 100px;
  max-width: 33%;
  position: absolute;
  padding: 10px;
  border: solid 1px #191e38;
  border-radius: 10px;
  background-color: rgb(95, 98, 103);
  left: 0;
  top: 0;
}

.nodeLabel {
  position: relative;
  top: 0;
  right: 10px;
}


/* les labels des branchements */

div.jtk-overlay {
  border: solid 1px #b5bbb4;
  background-color: #ffffff;
  z-index: 55; /* faut passer au dessus de .jtk-connector, valeur mise au pif */
  span.connectorLabelHover {
    display: none;
  }

  span.connectorLabelDefault {
    display: flex;
  }
}

div.jtk-overlay:hover {
  border: solid 2px #8d968d;
  background-color: #ffffff;
  z-index: 60; /* On met en évidence celui qu'on survole et il passe devant les autres */
  span.connectorLabelHover {
    display: flex;
  }

  span.connectorLabelDefault {
    display: none;
  }

  .connectorLabelDefault {
    display: none;
  }
}

.error {
  color: #9e0505;
}

/* les connexions jsplumb, cf https://docs.jsplumbtoolkit.com/community/lib/styling-via-css */
.jtk-hover {
  z-index: 10;
}
