.caseBrouillon {
  background-image:url(../zoneStyleMathquill/images/fondHachure.png);
  background-repeat: repeat;
  // les styles qui suivent ne s'appliqueront que s'ils sont inclus dans un .caseBrouillon (c'est scss qui permet cette inclusion)
  .spacer {
    width: 10px;
  }
  .bouton {
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .boutonMoins {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/moins.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .boutonAdd {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/add.png);
  }
  .boutonSuppr {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/suppr.png);
  }
  .boutonPlus {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/plus.png);
  }
}

.caseFoBrouillon {
  // les styles qui suivent ne s'appliqueront que s'ils sont inclus dans un .caseBrouillon (c'est scss qui permet cette inclusion)
  .spacer {
    width: 10px;
  }
  .bouton {
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .boutonMoins {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/moins.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .boutonAdd {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/add.png);
  }
  .boutonSuppr {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/suppr.png);
  }
  .boutonPlus {
    @extend .bouton;
    background-image:url(../zoneStyleMathquill/images/plus.png);
  }
}
