.paint {
  position: relative;
  display: flex;
  box-sizing: content-box;
}

.paint .colors {
  display: flex;
  flex-direction: column;
  width: 26px;
}

.paint .color {
  flex-grow: 1;
  margin: 3px;
  border: none;
  cursor: pointer;
}

.paint .color.selected {
  margin: 0;
  border: 3px solid #32a1ce;
}

.paint .color:hover {
  margin: 0;
  border: 3px solid #6DCCF3FF;
}

.paint .trashIcon {
  flex-grow: initial;
  flex-shrink: initial;
  border: 1px solid black;
  margin: 0;
  padding: 2px;
  cursor: pointer;
  background-image: url(trash.png);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  width: 26px;
  height: 26px;
}

.paint .trashIcon:hover {
  padding: 0; /* pour compenser la bordure plus épaisse */
  border: 3px solid red;
  background-position: 0 0;
}
