/* outil bulleAide animation sur le (?) */
@keyframes bulleAideGlow {
  0% {
    text-shadow: 0 0 0.5px blue
  }
  50% {
    text-shadow: 0 0 4px blue
  }
  100% {
    text-shadow: 0 0 0.5px blue
  }
}
