<span class="grasrouge">Equation d’un cercle $C$ de centre $O(a;b)$ et de rayon R :</span><br><br>
Un point $M(x;y)$ est sur $C$ ssi $OM = R$,<br>ainsi $M(x;y)$ est sur $C$ ssi $OM^2 = R^2$<br>
Or, $OM^2 = (x-a)^2+(y-b)^2$<br>
On en déduit qu'une équation du cercle $C$ s'écrit $(x-a)^2+(y-b)^2=R^2$<br><br>
