<span class="grasrouge">Remarque :</span>
Une équation de la forme $x^2+ax+y^2+by+c=0$ peut, en faisant apparaitre deux formes canoniques, s'écrire ainsi :<br>
$(x+\frac{a}{2})^2-\frac{a^2}{4}+(y+\frac{b}{2})^2-\frac{b^2}{4}+c=0$ ou encore : $(x+\frac{a}{2})^2+(y+\frac{b}{2})^2=\frac{a^2}{4}+\frac{b^2}{4}-c$.<br>
Si le membre de droite est positif, on retrouve alors l’équation d’un cercle.
