/* des règles de "reset" qui s'appliquent partout,
  cf https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles pour les explications */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  /* pourquoi imposer ça ?
  Sur le svg ça pose pb si y'a du scroll (parce que le svg dépasse), ça pourrait être la même chose pour les autres, on vire cette règle car ça l'empêche de dépasser
  max-width: 100%;
   */
}

/* 7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Pour régler la taille du clavier virtuel */

/* Les couleurs, à partir de https://coolors.co/363020-b9d6f2-b5b682-56638a-7a306c
  (orange voisin de l’orange Sésamath et un bleu pas trop loin) */

// on n’utilise pas $hueX dans ce qui suit car ça perturbe l’ide et ne permet plus d’utiliser son éditeur de couleur

// à priori dark pour bordures et textes, ligth pour du background
$hue1: 22;
$color1: hsl(22 97% 48%);
$darkColor1: hsl(22 100% 15%);
$darkColor1High: hsl(22 100% 35%);
$lightColor1: hsl(22 60% 98%);
$slightLightColor1: hsl(22 97% 78%);
$boxShadow1: 2px 2px 5px 1px hsl(22 60% 35% / 0.7); // offsetX offsetY blur spread color
$boxShadow1Thin: 1px 1px 3px 0 hsl(22 60% 35% / 0.7); // offsetX offsetY blur spread color

// color2 pour les nœuds (cf connectorColorOver dans le js
$hue2: 250;
$color2: hsl(250 50% 60%);
$darkColor2: hsl(250 60% 30%);
$lightColor2: hsl(250 100% 95%);
$boxShadow2: 2px 2px 5px 1px hsla(250 30% 60% / 0.6); // offsetX offsetY blur spread color

// color3 pour les branchements
$hue3: 225;
$color3: hsl(225 77% 70%);
$darkColor3: hsl(225 85% 40%);
$lightColor3: hsl(225 100% 90%);
$lightColor3b: hsl(225 100% 95%);
$lightColor3c: hsl(225 100% 99%);
$boxShadow3: 3px 3px 6px 1px hsl(225 30% 50% / 0.6); // offsetX offsetY blur spread color

$colorBtn: hsl(180, 100%, 30%);
$colorBtnHov: hsl(180 50% 60%);

// feedbacks
$hueOk: 150;
$colorOk: $colorBtn;
$lightColorOk: hsl(150 70% 95%);

$hueKo: 20;
$colorKo: hsl(15 95% 45%);
$lightColorKo: hsl(15 50% 95%);

// errors et warnings de l’appli
$hueError: 0;
$errorColor: hsl(0 80% 40%);
$hueWarn: 30;
$warnColor: hsl(30 90% 40%);
