.BSMathquill:hover {
  background:#FFE2CF
}

.BSMathquill {
  border-radius:3px 3px 3px 3px;
  border-width:0;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
  background:#ffffff;
  cursor:pointer;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}
