@use 'src/lib/core/css/base.scss';

body {
  // il faut un `import 'roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss'` dans le js qui nous charge
  // (pénible de l’importer en scss avec vite)
  font-family: Roboto, "Noto Emoji", sans-serif;
  /* pour que #main prenne toute la place restante */
  display: flex;
  flex-direction: column;
  background-color: base.$lightColor1;
}

menu {
  padding: 0;
  display: flex;
  width: 100%;
}

menu a {
  flex-basis: auto;
  flex-flow: row;
  flex-grow: 1;
  margin: 0;
  border: 3px solid base.$darkColor1;
  border-radius: 10px 10px 0 0;
  background-color: base.$lightColor1;
  color: base.$darkColor1;
  border-left-width: 0;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

menu a:first-child {
  border-left-width: 3px;
}

menu a.active {
  border-bottom: none;
}

menu a.disabled {
  display: none;
}

.rmq {
  font-size: 0.8rem;
  font-weight: normal;
}

#main {
  flex-grow: 1; // il prend toute la place restante dans body
  background-color: base.$lightColor1;
  border: 3px solid base.$darkColor1;
  border-top-width: 0;
  padding: 0;
  position: relative;
  bottom: 0;
}

#main > div {
  display: none;
}

#main > div.active {
  display: block;
}

#descContainer {
  color: base.$darkColor1;
  padding: 1rem 2rem;

  p {
    padding: 0.3rem 1rem;
  }

  a {
    color: base.$darkColor1;
    cursor: pointer;
    font-weight: bold;
  }
}

#formContainer {
  padding: 1rem;
  color: base.$darkColor1;

  a {
    color: base.$darkColor1;
  }

  h1 {
    font-size: 1.2em;
    font-weight: bold;
  }

  hr {
    border: 1px solid base.$darkColor1;
    margin: 10px 0;
  }

  h1 a, p a {
    margin: 0 1rem;
  }

  button {
    margin: 0.3em 1em;
    font-size: 0.9em;
  }

  textarea {
    font-size: 16px;
    margin: 1em;
    width: 95%;
  }
}

#iframeContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#iframeContainer form {
  /* pour les label */
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  padding: 0.3rem;

  label {
    flex-grow: 1;
    text-align: center;
    margin-left: 2rem;
  }

  input {
    margin-left: 0.3rem;
  }
}

iframe {
  flex-grow: 1;
  width: calc(100% - 20px);
  min-height: 500px;
  height: 100%;
  margin: 10px;
  border: 1px solid base.$darkColor1;
  background-color: #fff;
}
