.mlOverrides {
  // c'est du scss, on peut imbriquer les sélecteurs
  .ML__keyboard {
    display: none;
  }
  math-field {
    padding: 2px; // Au lieu de 4 par défaut
  }
  /* Abandonné car peu fiable fait directement dans j3pAffiche
  math-field::part(menu-toggle) {
    display: none;
  }
  */
}
