.btnDessin {
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 40;
}
.btnFlip {
  @extend .btnDessin;
  background-image: url(flip.png);
}
.btnRotG {
  @extend .btnDessin;
  background-image: url(rotG.png);
}
.btnRotD {
  @extend .btnDessin;
  background-image: url(rotD.png);
}
.btnReduire {
  @extend .btnDessin;
  background-image: url(reduire.png);
}
.btnAgrandir {
  @extend .btnDessin;
  background-image: url(agrandir.png);
}
