// merci à https://sabe.io/tutorials/how-to-create-modal-popup-box
// Le div contenant la modale est fils direct de body, pour des questions de stacking context
// cf https://developer.mozilla.org/fr/docs/Web/CSS/CSS_positioned_layout/Understanding_z-index/Stacking_context

@use 'src/lib/core/css/base.scss';
// pour le picto fullscreen
@use 'src/lib/core/css/fullscreen.scss';

$modalMargin: 10px;
$bgColor: #fff;

.modalContainer {
  position: fixed;
  // pour centrer le seul élément qu'il contient, dans les deux sens
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index par défaut
  z-index: 150;
  // prend toute la place
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // noir légèrement transparent
  background-color: rgba(0, 0, 0, 0.8);
  // caché par défaut
  visibility: hidden;
  transform: scale(1.1);

  // le rectangle blanc au milieu
  .modalMain {
    max-height: 98%;
    max-width: 98%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $bgColor;
    opacity: 1;
    overflow: auto;

    header {
      flex-grow: initial;
      // et son contenu doit aussi être flexible, le max pour le titre
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      h4 {
        // pour qu'il prenne la place restante (si boutons)
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        // pour que le titre n'agrandisse pas son parent en largeur (ça ira à la ligne si besoin)
        width: min-content;
      }
      span {
        flex-grow: initial;
      }
    }

    &> div {
      flex-grow: 1;
      overflow: auto;
    }
  }

  .closeButton {
    width: 3rem;
    height: 2.3rem;
    line-height: 2rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    transform: translate($modalMargin, -$modalMargin); // on le rapproche du coin
    margin-left: 5px;


    &:hover {
      background-color: darkgray;
    }
  }
}

// .modal

.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 1s, opacity 2s, transform 1s;
}
